.page-right-wrapper,.page-left-wrapper{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
#event_bar_table{
    margin-bottom:0px;
}
.statistic-panel{
    color:#fff;
}
.event-stat-panel{
    /*background-color:#8bc34a;*/
    /*background-color:rgba(153,204,204,1); // #99cccc*/
    /*background-color:rgba(55,198,192,1); // #56a36c*/
    /*background-color:#81c2d6;*/
    background-color:#bfdbb8;
    /*background-color:rgba(112,161,159,1); // #70a19f*/
    /*background-color:rgba(209,230,185,1);*/
}
.org-stat-panel{
    /*background-color:#4FABC2;*/
    background-color:#81c2d6;
    /*background-color:#00bcd4*/
    /*background-color:rgba(185,220,237,1); // #b9dced*/
    /*background-color:rgba(102,153,204,1); // #6699cc;*/
    /*background-color:rgba(152,218,226,1);*/
}
.merge-stat-panel{
    /*background-color:#ba68c8;*/
    /*background-color:rgba(153,153,204,1); // #9999cc;*/
    /*background-color:#8192d6;*/
    background-color:#82abba;
    /*background-color:#d9b3e6;*/
    /*background-color:rgba(233,201,238,1);*/

}
.fund-stat-panel{
    /*background-color:#FAC26E;*/
    /*background-color:#FFE4B5;*/
    background-color:#D1AD69;
    /*background-color:#dcf7a1;*/
    /*background-color:rgba(255,204,153,1); // #ffcc99;*/
    /*background-color:rgba(204,153,51,1); // #cc9933*/
    /*background-color:rgba(238,231,206,1); // #eee7ce*/
    /*background-color:rgba(246,223,189,1);*/
}
@media (min-width:1200px){
    .page-left-wrapper{
        height:100%;
        width:80%;
        /*width:75%;*/
        float:left;
        padding-right:5px;
        padding-left:10px;
    }
    .page-right-wrapper{
        height:100%;
        width:20%;
        /*width:25%;*/
        float:left;
        padding-left:10px;
        padding-right:10px;
    }
}
.statistic-panel{
    margin-bottom:8px;
}
@media(min-width:768px){
    .margin-sm-left{
        padding-right:5px;
    }
    .margin-sm-right{
        padding-left:5px;
    }
}
@media(max-width:767px){
    .statistic-panel,.homepage-calendar{
        padding-left:0px;
        padding-right:15px;
    }
    #homemodule_orgInvest_row,.dayevent-col,.statistic-dash,.homepage-news{
        padding-left:0px;
        padding-right:20px;
    }
}
.dashboard-ibox-content{
    /*padding:0 20px;*/
    padding-left:20px;
    padding-right:20px;
}
@media (min-width:1024px) and (max-width:1199px){
    .col-item-lm-half-pie,.col-item-lm-half-bar{
        width:50%;
        float:left;
    }
}
.feed-activity-list{
    padding-bottom:5px;
    font-size:12px;
}
.feed-activity-list .feed-element:first-child{
    margin-top:0px;
}
.feed-activity-list .feed-element{
    margin-top:5px;
    padding-bottom:5px;
}
#orgInvestChart{
     height:200px;
 }

#org_panel_Chart,#merge_panel_Chart,#fund_panel_Chart,#event_panel_Chart{
    height:98px;
}
.panel-data{
    position:relative;
    height:100%;
    padding-right:5px;
    padding-bottom:1.5em;
}

.panel-title{
    padding-top:6px;
    padding-bottom:0px;
    font-size:14px;
}
.panel-title h5{
    font-size:14px;
    font-weight:600;
    line-height:1;
    margin:0 5px;
    padding: 0;
    text-overflow: ellipsis;
}
.panel-title .panel-data-today{
    font-size:12px;
    position:absolute;
    top:8px;
    right:20px;
    display: inline-block;
    /*background-color:#1b6d85;*/
    /*color:#fff;*/
    color:#333333;
    /*color:#ff7f50;*/
}
.panel-content{
    margin-top:-17px;
    margin-bottom:-7px;
}
.dash-data{
    position:absolute;
    right:20px;
    top:10px;
    font-size:16px;
    /*padding-right:5px;*/
}
.dash-data-today strong{
    margin-right:3px;
}
.dash-title{
    height: 28px;
    line-height: 28px;
    padding: 6px 15px 0px 6px;
    font-size: 16px;
}

#project_dashboard_chart,#company_dashboard_chart,
#report_dashboard_chart,#elastic_dashboard_chart{
    height:180px;
    margin-top:20px;
}
#event_bar_charts,#event_pie_charts,#event_mix_charts{
    height:280px;
}
#homemodule_news_row{
    height:70%;
    overflow:auto;
}
#homemodule_calendar_row{
    height:30%;
    width:100%;
}
#calendar{
    width:100%;
    height:100%;
}

.modal-mask{
    z-index:199;
}
.modal-container-info {
    /*width: 480px;*/
    /*max-width:98%;*/
    width:55%;
    max-width:768px;
    min-width:400px;
    margin: 100px auto 5px auto;
    max-height: calc(100% - 70px);
    overflow: auto;
    padding: 0px 30px;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .8s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.detail-close-button {
    margin-right: 0px;
    margin-top: -15px;
}
.modal-event-list-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
.modal-event-wrapper{
    /*display:table-cell;*/
}
.modal-event-container {
    width: 90%;
    max-width:1200px;
}
.modal-calendar-body{
    margin:0;
    color:#555;
    position:relative;
    padding:15px;
}

.modal-eventlist-container{
    width: 75%;
    margin: 100px auto 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal-eventlist-body{
    margin:5px 0;
    overflow:auto;
    padding:0px 20px 10px 20px;
}

table.table-single-line{
    table-layout: fixed;
}
table.table-single-line .td-single{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.table-single-line .td-Wtype {
    width:97px;
    text-align:center;
    padding:8px 4px;
}
.calendar-open-link{
    cursor:pointer;
}
.calendar-open-link:hover{
    color:#23527c;
}

.calendar-title-labels{
    position:absolute;right:7px;top:10px;list-style: none;
}
.calendar-title-labels li{
    float:right;
    padding-right:3px;
    padding-left:3px;
    color:#373008;
}

@media (min-width:1200px){
    .col-xlg-4{
        width: 33.33333333%;
    }
    .col-xlg-8{
        width: 66.66666667%;
    }
    .col-item-lm-half-pie,.col-item-lm-half-bar{
        /*height:0;*/
    }
}
/*@media (min-width:1024px) and (max-width:1499px){*/
@media (min-width:1024px) and (max-width:1199px){
    .col-xlg-4{
        /*width:60%;*/
        width:40%;
        float:left;
        position:absolute;
    }
    .col-xlg-8{
        /*height:0;*/
    }
    .col-item-lm-half-pie{
        /*width:40%;*/
        width:60%;
        float:left;
    }
    .col-item-lm-half-bar{
        width:100%;
    }
}

@media (max-width:1023px){
    .col-xlg-8{
        /*height:0;*/
    }
}
