html,body{
    margin:0;
}
.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image:linear-gradient(#87c6ea,#2fa4e7 60%,#338BB8);
    height: 35px;
    z-index: 1033;
    /*min-width: 740px;*/
}
.brand{
    padding:0px 20px 10px 20px !important;
    margin-top:4px !important;
}
.brand img{
    height:25px;
}
.pull-left{
    float:left;
}
.middle-box {
    max-width: 700px;
    z-index: 100;
    margin: 100px auto 50px auto;
    /*padding-top: 40px;*/
}
.loginscreen.middle-box {
    width: 600px;
}
.loginColumns {
    max-width: 760px;
    margin: 0 auto;
    padding: 15% 20px 20px 20px;
}

.log-left-side{
    width:60%;
}
.log-right-side{
    width:40%;
}
.log-left-side,.log-right-side,.col-md-6{
    float:left;
    padding:20px 30px;
}
.logo-name {
    margin:auto;
}
.logo-name img{
    width:90%;
}
.logo-name h3{
    position:relative;
    margin-top:0px;
    width:100%;
    font-size:16px;
    font-weight:600;
    color:#b6b6b6;
}
@media (min-width:992px){
    .logo-name{
        width:60%;
    }
    .input-side{
        width:40%;
    }
}
@media (max-width:991px){
    .loginColumns {
        max-width: 400px;
    }
    .logo-name img{
        width:100%;
    }
    .input-side{
        width:80%;
        margin:0 auto;
    }
}
.text-center{
    text-align:center;
}
.input-side{
    padding-top:20px;
}
.form-group {
    margin-bottom: 10px;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    height:34px;
    line-height:1.42857143;
    font-size: 14px;
}
.form-control, .form-control:focus{
    box-shadow: none;
}
.block{
    display:block !important;
}
.full-width{
    width:100% !important;
}

.m-top{
    margin-top:30px;
}
input:-webkit-autofill,input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.btn-primary{
    color:#fff;
    background-color:#2fa4e7;
    background-image:linear-gradient(#87c6ea,#2fa4e7 60%,#338BB8);
}
.btn-primary:hover,.btn-primary:focus{
    background-image:linear-gradient(#337ab7,#337ab7 60%,#338BB8);;
}
.form-control-info{
    color:#2fa4e7;
    border:none;
    font-size:16px;
    font-weight:500;
    padding:0 12px;
    height:16px;
}
.form-control-warning{
    color:#ec8409;
    border:none;
    font-size:12px;
    font-weight:500;
    padding:0 12px;
    height:16px;
}
.form-input-line{
    display: inline-table;
    vertical-align: middle;
    width: 100%;
}
.form-label,.form-control{
    float: left;
    display: inline-table;
    height: 34px;
    font-size: 14px;
    margin-bottom: 0px;
}
.form-label{
    padding: 6px 3px;
    width:50px;
}
.form-control{
    /*width:calc(100% - 50px);*/
}


