.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.search-order-key-control {
    float: right;
    width: calc(100% - 60px);
    margin-right: 5px;
    max-width: 500px;
}

.btn-order-correlation,.btn-order-time{
    width:20px;
    height:20px;
    top:8px;
    margin-left:5px !important;
    border:none;
}

.focuse-domain{
    padding: 5px 10px 5px 7px;
}
.focuse-domain strong:first-child{
    font-size:18px !important;
}
.html5buttons a{
    top:11px;
}
#investTypeSelect,#exitTypeSelect{
    z-index:100;left:10%;position:absolute;width:60%;
}

.type-select-list{
    padding-bottom:5px;
}
.btn-list-item{
    margin-top:3px;
}

.focuseDomain-color-0{
    color:#112233;
}
.focuseDomain-color-0{
    color:#112233;
}
.focuseDomain-color-1{
    color:#1ab394;
}
.focuseDomain-color-2{
    color:#1c84c6;
}
.focuseDomain-color-3{
    color:#23c6c8;
}
.focuseDomain-color-4{
    color:#f8ac59;
}
.focuseDomain-color-5{
    color:#ed5565;
}
.focuseDomain-color-6{
    color:#3e2c42;
}
.focuseDomain-color-7{
    color:#6a588a;
}
.focuseDomain-color-8{
    color:#ecba52;
}
.focuseDomain-color-9{
    color:rgb(239, 38, 239);
}
.focuseDomain-size-12{
    font-size:12px;
    margin-right:8px;
}

.focuseDomain-size-14{
    font-size:14px;
    margin-right:8px;
}

.focuseDomain-size-16{
    font-size:16px;
    margin-right:8px;
}

.focuseDomain-size-18{
    font-size:18px;
    margin-right:8px;
}

.modal-info-container{
    width:340px;
    padding:0 20px;
}
.modal-info-close-button{
    margin-right:-20px;
}