.modal-mask.modal-mask-setting{
    z-index:999;
    top:0;
}

.form-group-m{
    font-size:15px;
    margin-left:15px;
    margin-right:15px;
}

.modal-container-lg{
    margin: 20px auto;
    padding: 1px 20px 30px 20px;
    /*background-color: rgba(174, 173, 171, 0.9);*/
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .8s ease;
    font-family: Helvetica, Arial, sans-serif;
    width: 560px;
}

.modal-container-info {
    width: 280px;
}
.modal-info-close-button {
    margin-right: -30px;
    margin-top: 2px;
    float: right;
    background: transparent;
    border: none;
    position: relative;
}

.show-msg{
    opacity:1;
}
.hide-msg{
    opacity:0;
}
.input-warning-msg{
    color:red;font-size:12px;
    text-align: right;
    transition: opacity 1s ease-in-out;
}
.simul-param-div {
    margin-bottom:3px; padding-left:0px;padding-right:0px;
}
.simul-param-div label{
    width:103px;
    text-align:right;
    padding-right:2px;
    padding-left:2px;
}
.simul-param-div select,.simul-param-div input,.simul-param-div textarea{
    width:calc(100% - 110px);
}
.simul-param-div select{
    padding-left:3px;
    padding-top: 1px;
    padding-bottom: 5px;
}
.simul-param-div textarea{
    margin-left:4px;
}
.simul-param-div .control-label{
    padding-top:0px;
}
.param-line-half{
    width:50%;
    float:left;
    height:35px;
}
.param-line-hole{
    width:100%;
    float:left;
}
.param-tag-row{
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
.param-label{
    position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
}
.sim-param-tag {
    position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    margin: 0 8px 5px 0;
    padding: 0 20px 0 6px;
    background-color: #fff;
    border: 1px solid #ff9f20;
}
.sim-param-tag em {
    position: absolute;
    width: 20px;
    top: 0;
    right: 0;
    height: 26px;
    background: url(../../img/close.png) center no-repeat;
}
.modal-setting-button {
    font-size: 15px;
    margin-left:10px;
    margin-top:-5px;
}

