.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, .5);
    display: table;
    transition: opacity .5s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-wrapper-lg{
    /*display: table-cell;*/
    vertical-align: middle;
    margin-top:10%;
}

@media (min-width: 992px) {
    .modal-wrapper-lg{
        /*display: table-cell;*/
        vertical-align: middle;
        margin-top:4%;
    }
}

@media (max-width: 768px) {
    .modal-wrapper-lg{
        vertical-align: middle;
    }
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgba(174, 173, 171, 0.9);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .8s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-container-lg{
    margin: 20px auto;
    padding: 20px 30px;
    background-color: rgba(174, 173, 171, 0.9);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .8s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    /*color: rgba(57, 68, 50, 0.98);*/
    color:#555;
}

.modal-body {
    margin: 20px 0;
    color:#555;
}

.modal-default-button {
    float: right;
    background:transparent;
    border:none;
}


/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-template-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-template-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-template-container {
    width: 50%;
    margin: 0px auto;
    padding: 20px 30px;
    /*background-color: rgba(123, 123, 123, 0.59);*/
    /*background-color:#ccc;*/
    background-color:#fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-template-header h3 {
    margin-top: 0;
    /*color: #00ff00;*/
    color:#333;
}

.modal-template-body {
    margin: 5px 0;
}

.modal-template-default-button {
    float: right;
}

.modal-template-list .half-item{
    width:50%;
    float:right;
}

.modal-template-list strong{
    margin-right:10px;
}

.modal-template-footer{
    margin-bottom:15px;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-template-container,
.modal-leave .modal-template-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hr-line-title{
    border-bottom:1px solid rgba(139, 138, 139,0.8);
    color: rgba(100, 100, 100,0.8);
    font-weight: bold;
    margin-top:15px;
    margin-bottom:10px;
}
