<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.peseer.dao.CiCorePayShareMapper">
  <resultMap id="BaseResultMap" type="com.cv.peseer.model.CiCorePayShare">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stat_date" jdbcType="VARCHAR" property="statDate" />
    <result column="zfb" jdbcType="DOUBLE" property="zfb" />
    <result column="cft" jdbcType="DOUBLE" property="cft" />
    <result column="ylzx" jdbcType="DOUBLE" property="ylzx" />
    <result column="kq" jdbcType="DOUBLE" property="kq" />
    <result column="hftx" jdbcType="DOUBLE" property="hftx" />
    <result column="ybzf" jdbcType="DOUBLE" property="ybzf" />
    <result column="hxzf" jdbcType="DOUBLE" property="hxzf" />
    <result column="others" jdbcType="DOUBLE" property="others" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_date, zfb, cft, ylzx, kq, hftx, ybzf, hxzf, others
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ci_core_pay_share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from ci_core_pay_share
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_core_pay_share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.peseer.model.CiCorePayShare">
    insert into ci_core_pay_share (id, stat_date, zfb, 
      cft, ylzx, kq, hftx, 
      ybzf, hxzf, others)
    values (#{id,jdbcType=INTEGER}, #{statDate,jdbcType=VARCHAR}, #{zfb,jdbcType=DOUBLE}, 
      #{cft,jdbcType=DOUBLE}, #{ylzx,jdbcType=DOUBLE}, #{kq,jdbcType=DOUBLE}, #{hftx,jdbcType=DOUBLE}, 
      #{ybzf,jdbcType=DOUBLE}, #{hxzf,jdbcType=DOUBLE}, #{others,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.peseer.model.CiCorePayShare">
    insert into ci_core_pay_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statDate != null">
        stat_date,
      </if>
      <if test="zfb != null">
        zfb,
      </if>
      <if test="cft != null">
        cft,
      </if>
      <if test="ylzx != null">
        ylzx,
      </if>
      <if test="kq != null">
        kq,
      </if>
      <if test="hftx != null">
        hftx,
      </if>
      <if test="ybzf != null">
        ybzf,
      </if>
      <if test="hxzf != null">
        hxzf,
      </if>
      <if test="others != null">
        others,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statDate != null">
        #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="zfb != null">
        #{zfb,jdbcType=DOUBLE},
      </if>
      <if test="cft != null">
        #{cft,jdbcType=DOUBLE},
      </if>
      <if test="ylzx != null">
        #{ylzx,jdbcType=DOUBLE},
      </if>
      <if test="kq != null">
        #{kq,jdbcType=DOUBLE},
      </if>
      <if test="hftx != null">
        #{hftx,jdbcType=DOUBLE},
      </if>
      <if test="ybzf != null">
        #{ybzf,jdbcType=DOUBLE},
      </if>
      <if test="hxzf != null">
        #{hxzf,jdbcType=DOUBLE},
      </if>
      <if test="others != null">
        #{others,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.peseer.model.CiCorePayShare">
    update ci_core_pay_share
    <set>
      <if test="statDate != null">
        stat_date = #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="zfb != null">
        zfb = #{zfb,jdbcType=DOUBLE},
      </if>
      <if test="cft != null">
        cft = #{cft,jdbcType=DOUBLE},
      </if>
      <if test="ylzx != null">
        ylzx = #{ylzx,jdbcType=DOUBLE},
      </if>
      <if test="kq != null">
        kq = #{kq,jdbcType=DOUBLE},
      </if>
      <if test="hftx != null">
        hftx = #{hftx,jdbcType=DOUBLE},
      </if>
      <if test="ybzf != null">
        ybzf = #{ybzf,jdbcType=DOUBLE},
      </if>
      <if test="hxzf != null">
        hxzf = #{hxzf,jdbcType=DOUBLE},
      </if>
      <if test="others != null">
        others = #{others,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.peseer.model.CiCorePayShare">
    update ci_core_pay_share
    set stat_date = #{statDate,jdbcType=VARCHAR},
      zfb = #{zfb,jdbcType=DOUBLE},
      cft = #{cft,jdbcType=DOUBLE},
      ylzx = #{ylzx,jdbcType=DOUBLE},
      kq = #{kq,jdbcType=DOUBLE},
      hftx = #{hftx,jdbcType=DOUBLE},
      ybzf = #{ybzf,jdbcType=DOUBLE},
      hxzf = #{hxzf,jdbcType=DOUBLE},
      others = #{others,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>