<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.peseer.dao.RptToeMaMapper">
  <resultMap id="BaseResultMap" type="com.cv.peseer.model.RptToeMa">
    <result column="ma_id" jdbcType="INTEGER" property="maId" />
    <result column="toe_code" jdbcType="VARCHAR" property="toeCode" />
    <result column="toe_name" jdbcType="VARCHAR" property="toeName" />
    <result column="toe_uuid" jdbcType="VARCHAR" property="toeUuid" />
    <result column="happen_date" jdbcType="VARCHAR" property="happenDate" />
    <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="target_uuid" jdbcType="VARCHAR" property="targetUuid" />
    <result column="target_relation" jdbcType="VARCHAR" property="targetRelation" />
    <result column="target_industry" jdbcType="VARCHAR" property="targetIndustry" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_toe_uuid" jdbcType="VARCHAR" property="buyerToeUuid" />
    <result column="buyer_toe_code" jdbcType="VARCHAR" property="buyerToeCode" />
    <result column="buyer_type" jdbcType="VARCHAR" property="buyerType" />
    <result column="buyer_relation" jdbcType="VARCHAR" property="buyerRelation" />
    <result column="buyer_industry" jdbcType="VARCHAR" property="buyerIndustry" />
    <result column="buyer_stock_num" jdbcType="DOUBLE" property="buyerStockNum" />
    <result column="buyer_stock_rate" jdbcType="DOUBLE" property="buyerStockRate" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="owner_toe_uuid" jdbcType="VARCHAR" property="ownerToeUuid" />
    <result column="owner_toe_code" jdbcType="VARCHAR" property="ownerToeCode" />
    <result column="owner_type" jdbcType="VARCHAR" property="ownerType" />
    <result column="owner_relation" jdbcType="VARCHAR" property="ownerRelation" />
    <result column="owner_industry" jdbcType="VARCHAR" property="ownerIndustry" />
    <result column="owner_stock_num" jdbcType="DOUBLE" property="ownerStockNum" />
    <result column="owner_stock_rate" jdbcType="DOUBLE" property="ownerStockRate" />
    <result column="ma_season" jdbcType="VARCHAR" property="maSeason" />
    <result column="ma_type" jdbcType="VARCHAR" property="maType" />
    <result column="pay_mode" jdbcType="VARCHAR" property="payMode" />
    <result column="pay" jdbcType="DOUBLE" property="pay" />
    <result column="pay_kind" jdbcType="VARCHAR" property="payKind" />
    <result column="trans_price" jdbcType="DOUBLE" property="transPrice" />
    <result column="trans_kind" jdbcType="VARCHAR" property="transKind" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="trans_stock_rate" jdbcType="DOUBLE" property="transStockRate" />
    <result column="if_changed" jdbcType="VARCHAR" property="ifChanged" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cv.peseer.model.RptToeMa">
    <result column="abst" jdbcType="LONGVARCHAR" property="abst" />
  </resultMap>
  <sql id="Blob_Column_List">
    abst
  </sql>
  
  	<select id="getRpt2MaList" resultMap="BaseResultMap">
		select * from rpt_toe_ma order by happen_date desc limit #{from}, 20
	</select>
	
  <insert id="insert" parameterType="com.cv.peseer.model.RptToeMa">
    insert into rpt_toe_ma (ma_id, toe_code, toe_name, 
      toe_uuid, happen_date, start_date, 
      tips, target_name, target_uuid, 
      target_relation, target_industry, buyer_name, 
      buyer_toe_uuid, buyer_toe_code, buyer_type, 
      buyer_relation, buyer_industry, buyer_stock_num, 
      buyer_stock_rate, owner_name, owner_toe_uuid, 
      owner_toe_code, owner_type, owner_relation, 
      owner_industry, owner_stock_num, owner_stock_rate, 
      ma_season, ma_type, pay_mode, 
      pay, pay_kind, trans_price, 
      trans_kind, target_type, trans_stock_rate, 
      if_changed, create_time, update_time, 
      abst)
    values (#{maId,jdbcType=INTEGER}, #{toeCode,jdbcType=VARCHAR}, #{toeName,jdbcType=VARCHAR}, 
      #{toeUuid,jdbcType=VARCHAR}, #{happenDate,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, 
      #{tips,jdbcType=VARCHAR}, #{targetName,jdbcType=VARCHAR}, #{targetUuid,jdbcType=VARCHAR}, 
      #{targetRelation,jdbcType=VARCHAR}, #{targetIndustry,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, 
      #{buyerToeUuid,jdbcType=VARCHAR}, #{buyerToeCode,jdbcType=VARCHAR}, #{buyerType,jdbcType=VARCHAR}, 
      #{buyerRelation,jdbcType=VARCHAR}, #{buyerIndustry,jdbcType=VARCHAR}, #{buyerStockNum,jdbcType=DOUBLE}, 
      #{buyerStockRate,jdbcType=DOUBLE}, #{ownerName,jdbcType=VARCHAR}, #{ownerToeUuid,jdbcType=VARCHAR}, 
      #{ownerToeCode,jdbcType=VARCHAR}, #{ownerType,jdbcType=VARCHAR}, #{ownerRelation,jdbcType=VARCHAR}, 
      #{ownerIndustry,jdbcType=VARCHAR}, #{ownerStockNum,jdbcType=DOUBLE}, #{ownerStockRate,jdbcType=DOUBLE}, 
      #{maSeason,jdbcType=VARCHAR}, #{maType,jdbcType=VARCHAR}, #{payMode,jdbcType=VARCHAR}, 
      #{pay,jdbcType=DOUBLE}, #{payKind,jdbcType=VARCHAR}, #{transPrice,jdbcType=DOUBLE}, 
      #{transKind,jdbcType=VARCHAR}, #{targetType,jdbcType=VARCHAR}, #{transStockRate,jdbcType=DOUBLE}, 
      #{ifChanged,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{abst,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.peseer.model.RptToeMa">
    insert into rpt_toe_ma
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        ma_id,
      </if>
      <if test="toeCode != null">
        toe_code,
      </if>
      <if test="toeName != null">
        toe_name,
      </if>
      <if test="toeUuid != null">
        toe_uuid,
      </if>
      <if test="happenDate != null">
        happen_date,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="targetName != null">
        target_name,
      </if>
      <if test="targetUuid != null">
        target_uuid,
      </if>
      <if test="targetRelation != null">
        target_relation,
      </if>
      <if test="targetIndustry != null">
        target_industry,
      </if>
      <if test="buyerName != null">
        buyer_name,
      </if>
      <if test="buyerToeUuid != null">
        buyer_toe_uuid,
      </if>
      <if test="buyerToeCode != null">
        buyer_toe_code,
      </if>
      <if test="buyerType != null">
        buyer_type,
      </if>
      <if test="buyerRelation != null">
        buyer_relation,
      </if>
      <if test="buyerIndustry != null">
        buyer_industry,
      </if>
      <if test="buyerStockNum != null">
        buyer_stock_num,
      </if>
      <if test="buyerStockRate != null">
        buyer_stock_rate,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="ownerToeUuid != null">
        owner_toe_uuid,
      </if>
      <if test="ownerToeCode != null">
        owner_toe_code,
      </if>
      <if test="ownerType != null">
        owner_type,
      </if>
      <if test="ownerRelation != null">
        owner_relation,
      </if>
      <if test="ownerIndustry != null">
        owner_industry,
      </if>
      <if test="ownerStockNum != null">
        owner_stock_num,
      </if>
      <if test="ownerStockRate != null">
        owner_stock_rate,
      </if>
      <if test="maSeason != null">
        ma_season,
      </if>
      <if test="maType != null">
        ma_type,
      </if>
      <if test="payMode != null">
        pay_mode,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="payKind != null">
        pay_kind,
      </if>
      <if test="transPrice != null">
        trans_price,
      </if>
      <if test="transKind != null">
        trans_kind,
      </if>
      <if test="targetType != null">
        target_type,
      </if>
      <if test="transStockRate != null">
        trans_stock_rate,
      </if>
      <if test="ifChanged != null">
        if_changed,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="abst != null">
        abst,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        #{maId,jdbcType=INTEGER},
      </if>
      <if test="toeCode != null">
        #{toeCode,jdbcType=VARCHAR},
      </if>
      <if test="toeName != null">
        #{toeName,jdbcType=VARCHAR},
      </if>
      <if test="toeUuid != null">
        #{toeUuid,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null">
        #{happenDate,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="tips != null">
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetUuid != null">
        #{targetUuid,jdbcType=VARCHAR},
      </if>
      <if test="targetRelation != null">
        #{targetRelation,jdbcType=VARCHAR},
      </if>
      <if test="targetIndustry != null">
        #{targetIndustry,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null">
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerToeUuid != null">
        #{buyerToeUuid,jdbcType=VARCHAR},
      </if>
      <if test="buyerToeCode != null">
        #{buyerToeCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerType != null">
        #{buyerType,jdbcType=VARCHAR},
      </if>
      <if test="buyerRelation != null">
        #{buyerRelation,jdbcType=VARCHAR},
      </if>
      <if test="buyerIndustry != null">
        #{buyerIndustry,jdbcType=VARCHAR},
      </if>
      <if test="buyerStockNum != null">
        #{buyerStockNum,jdbcType=DOUBLE},
      </if>
      <if test="buyerStockRate != null">
        #{buyerStockRate,jdbcType=DOUBLE},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="ownerToeUuid != null">
        #{ownerToeUuid,jdbcType=VARCHAR},
      </if>
      <if test="ownerToeCode != null">
        #{ownerToeCode,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null">
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="ownerRelation != null">
        #{ownerRelation,jdbcType=VARCHAR},
      </if>
      <if test="ownerIndustry != null">
        #{ownerIndustry,jdbcType=VARCHAR},
      </if>
      <if test="ownerStockNum != null">
        #{ownerStockNum,jdbcType=DOUBLE},
      </if>
      <if test="ownerStockRate != null">
        #{ownerStockRate,jdbcType=DOUBLE},
      </if>
      <if test="maSeason != null">
        #{maSeason,jdbcType=VARCHAR},
      </if>
      <if test="maType != null">
        #{maType,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null">
        #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=DOUBLE},
      </if>
      <if test="payKind != null">
        #{payKind,jdbcType=VARCHAR},
      </if>
      <if test="transPrice != null">
        #{transPrice,jdbcType=DOUBLE},
      </if>
      <if test="transKind != null">
        #{transKind,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="transStockRate != null">
        #{transStockRate,jdbcType=DOUBLE},
      </if>
      <if test="ifChanged != null">
        #{ifChanged,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="abst != null">
        #{abst,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>