<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.peseer.dao.StockInstInvestMapper">
  <resultMap id="BaseResultMap" type="com.cv.peseer.model.StockInstInvest">
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cv.peseer.model.StockInstInvest">
    <result column="inst_inv" jdbcType="LONGVARCHAR" property="instInv" />
  </resultMap>
  <sql id="Blob_Column_List">
    inst_inv
  </sql>
  <insert id="insert" parameterType="com.cv.peseer.model.StockInstInvest">
    insert into stock_inst_invest (stock_code, name, inst_inv
      )
    values (#{stockCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{instInv,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <select id="selectByStockCode" resultMap="ResultMapWithBLOBs">
	select * from stock_inst_invest where stock_code = #{stockCode}
  </select>
  
  <insert id="insertSelective" parameterType="com.cv.peseer.model.StockInstInvest">
    insert into stock_inst_invest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="instInv != null">
        inst_inv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="instInv != null">
        #{instInv,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>