<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.peseer.dao.StockEquityCtrlMapper">
  <resultMap id="BaseResultMap" type="com.cv.peseer.model.StockEquityCtrl">
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cv.peseer.model.StockEquityCtrl">
    <result column="eq_comp" jdbcType="LONGVARCHAR" property="eqComp" />
  </resultMap>
  <sql id="Blob_Column_List">
    eq_comp
  </sql>
  
  <select id="selectByStockCode" resultMap="ResultMapWithBLOBs">
	select * from stock_equityctrl where stock_code = #{stockCode}
  </select>
	
  <insert id="insert" parameterType="com.cv.peseer.model.StockEquityCtrl">
    insert into stock_equityctrl (stock_code, name, eq_comp
      )
    values (#{stockCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{eqComp,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cv.peseer.model.StockEquityCtrl">
    insert into stock_equityctrl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="eqComp != null">
        eq_comp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="eqComp != null">
        #{eqComp,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>