<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.peseer.dao.UdfEventMapper">
  <resultMap id="BaseResultMap" type="com.cv.peseer.model.UdfEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="fund" jdbcType="VARCHAR" property="fund" />
    <result column="gp_name" jdbcType="VARCHAR" property="gpName" />
    <result column="lp_name" jdbcType="VARCHAR" property="lpName" />
    <result column="plan_line" jdbcType="VARCHAR" property="planLine" />
    <result column="real_line" jdbcType="VARCHAR" property="realLine" />
    <result column="vc_name" jdbcType="VARCHAR" property="vcName" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="round" jdbcType="VARCHAR" property="round" />
    <result column="ma_pay" jdbcType="VARCHAR" property="maPay" />
    <result column="ma_buyer" jdbcType="VARCHAR" property="maBuyer" />
    <result column="ma_target" jdbcType="VARCHAR" property="maTarget" />
    <result column="exit_name" jdbcType="VARCHAR" property="exitName" />
    <result column="exit_bring_rate" jdbcType="VARCHAR" property="exitBringRate" />
    <result column="exit_irr" jdbcType="VARCHAR" property="exitIrr" />
    <result column="happen_date" jdbcType="VARCHAR" property="happenDate" />
    <result column="src_info" jdbcType="VARCHAR" property="srcInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cv.peseer.model.UdfEvent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, type, title, status, leader, fund, gp_name, lp_name, plan_line, real_line, 
    vc_name, team_name, round, ma_pay, ma_buyer, ma_target, exit_name, exit_bring_rate, 
    exit_irr, happen_date, src_info, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  
  <select id="selectByUid" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
  	select * from udf_event where uid = #{uid}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from udf_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from udf_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.peseer.model.UdfEvent">
    insert into udf_event (id, uid, type, 
      title, status, leader, 
      fund, gp_name, lp_name, 
      plan_line, real_line, vc_name, 
      team_name, round, ma_pay, 
      ma_buyer, ma_target, exit_name, 
      exit_bring_rate, exit_irr, happen_date, 
      src_info, create_time, update_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{leader,jdbcType=VARCHAR}, 
      #{fund,jdbcType=VARCHAR}, #{gpName,jdbcType=VARCHAR}, #{lpName,jdbcType=VARCHAR}, 
      #{planLine,jdbcType=VARCHAR}, #{realLine,jdbcType=VARCHAR}, #{vcName,jdbcType=VARCHAR}, 
      #{teamName,jdbcType=VARCHAR}, #{round,jdbcType=VARCHAR}, #{maPay,jdbcType=VARCHAR}, 
      #{maBuyer,jdbcType=VARCHAR}, #{maTarget,jdbcType=VARCHAR}, #{exitName,jdbcType=VARCHAR}, 
      #{exitBringRate,jdbcType=VARCHAR}, #{exitIrr,jdbcType=VARCHAR}, #{happenDate,jdbcType=VARCHAR}, 
      #{srcInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.peseer.model.UdfEvent">
    insert into udf_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="fund != null">
        fund,
      </if>
      <if test="gpName != null">
        gp_name,
      </if>
      <if test="lpName != null">
        lp_name,
      </if>
      <if test="planLine != null">
        plan_line,
      </if>
      <if test="realLine != null">
        real_line,
      </if>
      <if test="vcName != null">
        vc_name,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="round != null">
        round,
      </if>
      <if test="maPay != null">
        ma_pay,
      </if>
      <if test="maBuyer != null">
        ma_buyer,
      </if>
      <if test="maTarget != null">
        ma_target,
      </if>
      <if test="exitName != null">
        exit_name,
      </if>
      <if test="exitBringRate != null">
        exit_bring_rate,
      </if>
      <if test="exitIrr != null">
        exit_irr,
      </if>
      <if test="happenDate != null">
        happen_date,
      </if>
      <if test="srcInfo != null">
        src_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="fund != null">
        #{fund,jdbcType=VARCHAR},
      </if>
      <if test="gpName != null">
        #{gpName,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null">
        #{lpName,jdbcType=VARCHAR},
      </if>
      <if test="planLine != null">
        #{planLine,jdbcType=VARCHAR},
      </if>
      <if test="realLine != null">
        #{realLine,jdbcType=VARCHAR},
      </if>
      <if test="vcName != null">
        #{vcName,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="round != null">
        #{round,jdbcType=VARCHAR},
      </if>
      <if test="maPay != null">
        #{maPay,jdbcType=VARCHAR},
      </if>
      <if test="maBuyer != null">
        #{maBuyer,jdbcType=VARCHAR},
      </if>
      <if test="maTarget != null">
        #{maTarget,jdbcType=VARCHAR},
      </if>
      <if test="exitName != null">
        #{exitName,jdbcType=VARCHAR},
      </if>
      <if test="exitBringRate != null">
        #{exitBringRate,jdbcType=VARCHAR},
      </if>
      <if test="exitIrr != null">
        #{exitIrr,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null">
        #{happenDate,jdbcType=VARCHAR},
      </if>
      <if test="srcInfo != null">
        #{srcInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.peseer.model.UdfEvent">
    update udf_event
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="fund != null">
        fund = #{fund,jdbcType=VARCHAR},
      </if>
      <if test="gpName != null">
        gp_name = #{gpName,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null">
        lp_name = #{lpName,jdbcType=VARCHAR},
      </if>
      <if test="planLine != null">
        plan_line = #{planLine,jdbcType=VARCHAR},
      </if>
      <if test="realLine != null">
        real_line = #{realLine,jdbcType=VARCHAR},
      </if>
      <if test="vcName != null">
        vc_name = #{vcName,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="round != null">
        round = #{round,jdbcType=VARCHAR},
      </if>
      <if test="maPay != null">
        ma_pay = #{maPay,jdbcType=VARCHAR},
      </if>
      <if test="maBuyer != null">
        ma_buyer = #{maBuyer,jdbcType=VARCHAR},
      </if>
      <if test="maTarget != null">
        ma_target = #{maTarget,jdbcType=VARCHAR},
      </if>
      <if test="exitName != null">
        exit_name = #{exitName,jdbcType=VARCHAR},
      </if>
      <if test="exitBringRate != null">
        exit_bring_rate = #{exitBringRate,jdbcType=VARCHAR},
      </if>
      <if test="exitIrr != null">
        exit_irr = #{exitIrr,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null">
        happen_date = #{happenDate,jdbcType=VARCHAR},
      </if>
      <if test="srcInfo != null">
        src_info = #{srcInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cv.peseer.model.UdfEvent">
    update udf_event
    set uid = #{uid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      leader = #{leader,jdbcType=VARCHAR},
      fund = #{fund,jdbcType=VARCHAR},
      gp_name = #{gpName,jdbcType=VARCHAR},
      lp_name = #{lpName,jdbcType=VARCHAR},
      plan_line = #{planLine,jdbcType=VARCHAR},
      real_line = #{realLine,jdbcType=VARCHAR},
      vc_name = #{vcName,jdbcType=VARCHAR},
      team_name = #{teamName,jdbcType=VARCHAR},
      round = #{round,jdbcType=VARCHAR},
      ma_pay = #{maPay,jdbcType=VARCHAR},
      ma_buyer = #{maBuyer,jdbcType=VARCHAR},
      ma_target = #{maTarget,jdbcType=VARCHAR},
      exit_name = #{exitName,jdbcType=VARCHAR},
      exit_bring_rate = #{exitBringRate,jdbcType=VARCHAR},
      exit_irr = #{exitIrr,jdbcType=VARCHAR},
      happen_date = #{happenDate,jdbcType=VARCHAR},
      src_info = #{srcInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.peseer.model.UdfEvent">
    update udf_event
    set uid = #{uid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      leader = #{leader,jdbcType=VARCHAR},
      fund = #{fund,jdbcType=VARCHAR},
      gp_name = #{gpName,jdbcType=VARCHAR},
      lp_name = #{lpName,jdbcType=VARCHAR},
      plan_line = #{planLine,jdbcType=VARCHAR},
      real_line = #{realLine,jdbcType=VARCHAR},
      vc_name = #{vcName,jdbcType=VARCHAR},
      team_name = #{teamName,jdbcType=VARCHAR},
      round = #{round,jdbcType=VARCHAR},
      ma_pay = #{maPay,jdbcType=VARCHAR},
      ma_buyer = #{maBuyer,jdbcType=VARCHAR},
      ma_target = #{maTarget,jdbcType=VARCHAR},
      exit_name = #{exitName,jdbcType=VARCHAR},
      exit_bring_rate = #{exitBringRate,jdbcType=VARCHAR},
      exit_irr = #{exitIrr,jdbcType=VARCHAR},
      happen_date = #{happenDate,jdbcType=VARCHAR},
      src_info = #{srcInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>