.ibox-title .fund-name-title{
    margin-left:15px;
}
.return-back-ico{
    position:absolute;
    color:#1d9ce5;
    left:20px;
    font-size:16px;
    top:11px;
}
.return-back-ico:hover{
    cursor:pointer;
    font-size:18px;
    text-shadow: 2px 2px 3px #204d74;
}

.modal-info-close-button {
    margin-right: 0px;
    margin-top:-15px;
}

.modal-event-container{
    margin: 100px auto 20px auto;
}

.fa-search-ico{
    top:9px;
    right:15px;
}