<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.CategoryTableMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.CategoryTable">
    <id column="biz_id" jdbcType="INTEGER" property="bizId" />
    <result column="biz" jdbcType="VARCHAR" property="biz" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="media" jdbcType="VARCHAR" property="media" />
  </resultMap>
  <sql id="Base_Column_List">
    biz_id, biz, domain, media
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from id_category
    where biz_id = #{bizId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from id_category
    where biz_id = #{bizId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.kdata.model.CategoryTable">
    insert into id_category (biz_id, biz, domain, 
      media)
    values (#{bizId,jdbcType=INTEGER}, #{biz,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, 
      #{media,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.kdata.model.CategoryTable">
    insert into id_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="biz != null">
        biz,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="media != null">
        media,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bizId != null">
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="biz != null">
        #{biz,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="media != null">
        #{media,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.kdata.model.CategoryTable">
    update id_category
    <set>
      <if test="biz != null">
        biz = #{biz,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="media != null">
        media = #{media,jdbcType=VARCHAR},
      </if>
    </set>
    where biz_id = #{bizId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.kdata.model.CategoryTable">
    update id_category
    set biz = #{biz,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      media = #{media,jdbcType=VARCHAR}
    where biz_id = #{bizId,jdbcType=INTEGER}
  </update>
  
  <select id="getListbyDomain" resultMap="BaseResultMap">
    select * from id_category
    <if test="list != null">
       where domain in 
       <foreach collection="domain" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </if> 
    limit 50
  </select>
   <select id="getListbyMedia" resultMap="BaseResultMap">
    select * from id_category
    <if test="list != null">
       where domain in 
       <foreach collection="meida" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </if> 
    limit 50
  </select>
   <select id="getListbyBiz" resultMap="BaseResultMap">
    select * from id_category
    <if test="list != null">
       where domain in 
       <foreach collection="biz" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </if> 
    limit 50
  </select>
</mapper>