<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.CiDtourIncomeMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.CiDtourIncome">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stat_date" jdbcType="VARCHAR" property="statDate" />
    <result column="itour_year_value" jdbcType="DOUBLE" property="itourYearValue" />
    <result column="itour_growth_rate" jdbcType="DOUBLE" property="itourGrowthRate" />
    <result column="rtour_year_value" jdbcType="DOUBLE" property="rtourYearValue" />
    <result column="rtour_growth_rate" jdbcType="DOUBLE" property="rtourGrowthRate" />
    <result column="utour_year_value" jdbcType="DOUBLE" property="utourYearValue" />
    <result column="utour_growth_rate" jdbcType="DOUBLE" property="utourGrowthRate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_date, itour_year_value, itour_growth_rate, rtour_year_value, rtour_growth_rate, 
    utour_year_value, utour_growth_rate
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select * from ci_dtour_income
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ci_dtour_income
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_dtour_income
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.kdata.model.CiDtourIncome">
    insert into ci_dtour_income (id, stat_date, itour_year_value, 
      itour_growth_rate, rtour_year_value, rtour_growth_rate, 
      utour_year_value, utour_growth_rate)
    values (#{id,jdbcType=INTEGER}, #{statDate,jdbcType=VARCHAR}, #{itourYearValue,jdbcType=DOUBLE}, 
      #{itourGrowthRate,jdbcType=DOUBLE}, #{rtourYearValue,jdbcType=DOUBLE}, #{rtourGrowthRate,jdbcType=DOUBLE}, 
      #{utourYearValue,jdbcType=DOUBLE}, #{utourGrowthRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.kdata.model.CiDtourIncome">
    insert into ci_dtour_income
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statDate != null">
        stat_date,
      </if>
      <if test="itourYearValue != null">
        itour_year_value,
      </if>
      <if test="itourGrowthRate != null">
        itour_growth_rate,
      </if>
      <if test="rtourYearValue != null">
        rtour_year_value,
      </if>
      <if test="rtourGrowthRate != null">
        rtour_growth_rate,
      </if>
      <if test="utourYearValue != null">
        utour_year_value,
      </if>
      <if test="utourGrowthRate != null">
        utour_growth_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statDate != null">
        #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="itourYearValue != null">
        #{itourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="itourGrowthRate != null">
        #{itourGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="rtourYearValue != null">
        #{rtourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="rtourGrowthRate != null">
        #{rtourGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="utourYearValue != null">
        #{utourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="utourGrowthRate != null">
        #{utourGrowthRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.kdata.model.CiDtourIncome">
    update ci_dtour_income
    <set>
      <if test="statDate != null">
        stat_date = #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="itourYearValue != null">
        itour_year_value = #{itourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="itourGrowthRate != null">
        itour_growth_rate = #{itourGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="rtourYearValue != null">
        rtour_year_value = #{rtourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="rtourGrowthRate != null">
        rtour_growth_rate = #{rtourGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="utourYearValue != null">
        utour_year_value = #{utourYearValue,jdbcType=DOUBLE},
      </if>
      <if test="utourGrowthRate != null">
        utour_growth_rate = #{utourGrowthRate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.kdata.model.CiDtourIncome">
    update ci_dtour_income
    set stat_date = #{statDate,jdbcType=VARCHAR},
      itour_year_value = #{itourYearValue,jdbcType=DOUBLE},
      itour_growth_rate = #{itourGrowthRate,jdbcType=DOUBLE},
      rtour_year_value = #{rtourYearValue,jdbcType=DOUBLE},
      rtour_growth_rate = #{rtourGrowthRate,jdbcType=DOUBLE},
      utour_year_value = #{utourYearValue,jdbcType=DOUBLE},
      utour_growth_rate = #{utourGrowthRate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>