<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.CiRcaPayMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.CiRcaPay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stat_date" jdbcType="VARCHAR" property="statDate" />
    <result column="month_value_us" jdbcType="DOUBLE" property="monthValueUs" />
    <result column="cum_value_us" jdbcType="DOUBLE" property="cumValueUs" />
    <result column="month_value_cn" jdbcType="DOUBLE" property="monthValueCn" />
    <result column="cum_value_cn" jdbcType="DOUBLE" property="cumValueCn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_date, month_value_us, cum_value_us, month_value_cn, cum_value_cn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ci_rca_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="getCiRcaPayList" resultMap="BaseResultMap">
    select * from ci_rca_pay
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_rca_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.kdata.model.CiRcaPay">
    insert into ci_rca_pay (id, stat_date, month_value_us, 
      cum_value_us, month_value_cn, cum_value_cn
      )
    values (#{id,jdbcType=INTEGER}, #{statDate,jdbcType=VARCHAR}, #{monthValueUs,jdbcType=DOUBLE}, 
      #{cumValueUs,jdbcType=DOUBLE}, #{monthValueCn,jdbcType=DOUBLE}, #{cumValueCn,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cv.kdata.model.CiRcaPay">
    insert into ci_rca_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statDate != null">
        stat_date,
      </if>
      <if test="monthValueUs != null">
        month_value_us,
      </if>
      <if test="cumValueUs != null">
        cum_value_us,
      </if>
      <if test="monthValueCn != null">
        month_value_cn,
      </if>
      <if test="cumValueCn != null">
        cum_value_cn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statDate != null">
        #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="monthValueUs != null">
        #{monthValueUs,jdbcType=DOUBLE},
      </if>
      <if test="cumValueUs != null">
        #{cumValueUs,jdbcType=DOUBLE},
      </if>
      <if test="monthValueCn != null">
        #{monthValueCn,jdbcType=DOUBLE},
      </if>
      <if test="cumValueCn != null">
        #{cumValueCn,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.kdata.model.CiRcaPay">
    update ci_rca_pay
    <set>
      <if test="statDate != null">
        stat_date = #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="monthValueUs != null">
        month_value_us = #{monthValueUs,jdbcType=DOUBLE},
      </if>
      <if test="cumValueUs != null">
        cum_value_us = #{cumValueUs,jdbcType=DOUBLE},
      </if>
      <if test="monthValueCn != null">
        month_value_cn = #{monthValueCn,jdbcType=DOUBLE},
      </if>
      <if test="cumValueCn != null">
        cum_value_cn = #{cumValueCn,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.kdata.model.CiRcaPay">
    update ci_rca_pay
    set stat_date = #{statDate,jdbcType=VARCHAR},
      month_value_us = #{monthValueUs,jdbcType=DOUBLE},
      cum_value_us = #{cumValueUs,jdbcType=DOUBLE},
      month_value_cn = #{monthValueCn,jdbcType=DOUBLE},
      cum_value_cn = #{cumValueCn,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>