<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.CiSfScaMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.CiSfSca">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stat_date" jdbcType="VARCHAR" property="statDate" />
    <result column="mon_value" jdbcType="DOUBLE" property="monValue" />
    <result column="mon_growth_rate" jdbcType="DOUBLE" property="monGrowthRate" />
    <result column="accum_value" jdbcType="DOUBLE" property="accumValue" />
    <result column="accum_growth_rate" jdbcType="DOUBLE" property="accumGrowthRate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_date, mon_value, mon_growth_rate, accum_value, accum_growth_rate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ci_sf_sca
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getCiSfScaList" resultMap="BaseResultMap">
    select * from ci_sf_sca
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_sf_sca
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cv.kdata.model.CiSfSca">
    insert into ci_sf_sca (id, stat_date, mon_value, 
      mon_growth_rate, accum_value, accum_growth_rate
      )
    values (#{id,jdbcType=INTEGER}, #{statDate,jdbcType=VARCHAR}, #{monValue,jdbcType=DOUBLE}, 
      #{monGrowthRate,jdbcType=DOUBLE}, #{accumValue,jdbcType=DOUBLE}, #{accumGrowthRate,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cv.kdata.model.CiSfSca">
    insert into ci_sf_sca
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statDate != null">
        stat_date,
      </if>
      <if test="monValue != null">
        mon_value,
      </if>
      <if test="monGrowthRate != null">
        mon_growth_rate,
      </if>
      <if test="accumValue != null">
        accum_value,
      </if>
      <if test="accumGrowthRate != null">
        accum_growth_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statDate != null">
        #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="monValue != null">
        #{monValue,jdbcType=DOUBLE},
      </if>
      <if test="monGrowthRate != null">
        #{monGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="accumValue != null">
        #{accumValue,jdbcType=DOUBLE},
      </if>
      <if test="accumGrowthRate != null">
        #{accumGrowthRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cv.kdata.model.CiSfSca">
    update ci_sf_sca
    <set>
      <if test="statDate != null">
        stat_date = #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="monValue != null">
        mon_value = #{monValue,jdbcType=DOUBLE},
      </if>
      <if test="monGrowthRate != null">
        mon_growth_rate = #{monGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="accumValue != null">
        accum_value = #{accumValue,jdbcType=DOUBLE},
      </if>
      <if test="accumGrowthRate != null">
        accum_growth_rate = #{accumGrowthRate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cv.kdata.model.CiSfSca">
    update ci_sf_sca
    set stat_date = #{statDate,jdbcType=VARCHAR},
      mon_value = #{monValue,jdbcType=DOUBLE},
      mon_growth_rate = #{monGrowthRate,jdbcType=DOUBLE},
      accum_value = #{accumValue,jdbcType=DOUBLE},
      accum_growth_rate = #{accumGrowthRate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>