<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.PMUserInfoMapper">
	<resultMap id="BaseResultMap" type="com.cv.kdata.model.PMUserInfo">
		<result column="organize_id" jdbcType="INTEGER" property="organizeId" />
		<result column="organize_name" jdbcType="VARCHAR" property="organizeName" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="focus_domain" jdbcType="VARCHAR" property="focusDomain" />
		<result column="invest_projects" jdbcType="VARCHAR" property="investProjects" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.cv.kdata.model.PMUserInfo">
		<result column="description" jdbcType="LONGVARCHAR" property="description" />
	</resultMap>
	<sql id="Blob_Column_List">
		description
	</sql>
	<insert id="insert" parameterType="com.cv.kdata.model.PMUserInfo">
		insert into pm_user_info (organize_id, organize_name, user_id,
		user_name, sex, title,
		focus_domain, invest_projects, contact,
		description)
		values (#{organizeId,jdbcType=INTEGER}, #{organizeName,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{focusDomain,jdbcType=VARCHAR}, #{investProjects,jdbcType=VARCHAR},
		#{contact,jdbcType=VARCHAR},
		#{description,jdbcType=LONGVARCHAR})
	</insert>

	<select id="getOrgUserInfo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select user_id,user_name,title from pm_user_info where organize_id =
		#{orgId}
	</select>

	<select id="selectUserInfoById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from pm_user_info where user_id = #{userId}
	</select>

	<select id="getIndexInfo" resultMap="BaseResultMap">
		select * from pm_user_info where user_name like concat('%',#{key},'%') or
		organize_name like concat('%',#{key},'%') limit ${from},10
	</select>

	<insert id="insertSelective" parameterType="com.cv.kdata.model.PMUserInfo">
		insert into pm_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="organizeId != null">
				organize_id,
			</if>
			<if test="organizeName != null">
				organize_name,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="focusDomain != null">
				focus_domain,
			</if>
			<if test="investProjects != null">
				invest_projects,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="organizeId != null">
				#{organizeId,jdbcType=INTEGER},
			</if>
			<if test="organizeName != null">
				#{organizeName,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="focusDomain != null">
				#{focusDomain,jdbcType=VARCHAR},
			</if>
			<if test="investProjects != null">
				#{investProjects,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
</mapper>