<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.RptEntJudgeValueMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.RptEntJudgeValue">
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="bs" jdbcType="DOUBLE" property="bs" />
    <result column="ts" jdbcType="DOUBLE" property="ts" />
    <result column="crds" jdbcType="DOUBLE" property="crds" />
    <result column="caps" jdbcType="DOUBLE" property="caps" />
    <result column="ss" jdbcType="DOUBLE" property="ss" />
    <result column="avg_bs" jdbcType="DOUBLE" property="avgBs" />
    <result column="avg_ts" jdbcType="DOUBLE" property="avgTs" />
    <result column="avg_crds" jdbcType="DOUBLE" property="avgCrds" />
    <result column="avg_caps" jdbcType="DOUBLE" property="avgCaps" />
    <result column="avg_ss" jdbcType="DOUBLE" property="avgSs" />
  </resultMap>
  <insert id="insert" parameterType="com.cv.kdata.model.RptEntJudgeValue">
    insert into rpt_ent_judge_value (uuid, bs, ts, crds, 
      caps, ss, avg_bs, avg_ts, 
      avg_crds, avg_caps, avg_ss
      )
    values (#{uuid,jdbcType=VARCHAR}, #{bs,jdbcType=DOUBLE}, #{ts,jdbcType=DOUBLE}, #{crds,jdbcType=DOUBLE}, 
      #{caps,jdbcType=DOUBLE}, #{ss,jdbcType=DOUBLE}, #{avgBs,jdbcType=DOUBLE}, #{avgTs,jdbcType=DOUBLE}, 
      #{avgCrds,jdbcType=DOUBLE}, #{avgCaps,jdbcType=DOUBLE}, #{avgSs,jdbcType=DOUBLE}
      )
  </insert>
  
  	<select id="selectByUuid" resultMap="BaseResultMap">
		select * from rpt_ent_judge_value where uuid = #{uuid}
	</select>
	
  <insert id="insertSelective" parameterType="com.cv.kdata.model.RptEntJudgeValue">
    insert into rpt_ent_judge_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="bs != null">
        bs,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="crds != null">
        crds,
      </if>
      <if test="caps != null">
        caps,
      </if>
      <if test="ss != null">
        ss,
      </if>
      <if test="avgBs != null">
        avg_bs,
      </if>
      <if test="avgTs != null">
        avg_ts,
      </if>
      <if test="avgCrds != null">
        avg_crds,
      </if>
      <if test="avgCaps != null">
        avg_caps,
      </if>
      <if test="avgSs != null">
        avg_ss,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="bs != null">
        #{bs,jdbcType=DOUBLE},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=DOUBLE},
      </if>
      <if test="crds != null">
        #{crds,jdbcType=DOUBLE},
      </if>
      <if test="caps != null">
        #{caps,jdbcType=DOUBLE},
      </if>
      <if test="ss != null">
        #{ss,jdbcType=DOUBLE},
      </if>
      <if test="avgBs != null">
        #{avgBs,jdbcType=DOUBLE},
      </if>
      <if test="avgTs != null">
        #{avgTs,jdbcType=DOUBLE},
      </if>
      <if test="avgCrds != null">
        #{avgCrds,jdbcType=DOUBLE},
      </if>
      <if test="avgCaps != null">
        #{avgCaps,jdbcType=DOUBLE},
      </if>
      <if test="avgSs != null">
        #{avgSs,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>