<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.kdata.dao.StockHolderLatestMapper">
  <resultMap id="BaseResultMap" type="com.cv.kdata.model.StockHolderLatest">
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="report_date" jdbcType="VARCHAR" property="reportDate" />
    <result column="holder_type" jdbcType="VARCHAR" property="holderType" />
    <result column="stock_char" jdbcType="VARCHAR" property="stockChar" />
    <result column="qty" jdbcType="VARCHAR" property="qty" />
    <result column="holder_char" jdbcType="VARCHAR" property="holderChar" />
    <result column="stock_ratio" jdbcType="VARCHAR" property="stockRatio" />
    <result column="stock_ratio_change" jdbcType="VARCHAR" property="stockRatioChange" />
    <result column="qty_change" jdbcType="VARCHAR" property="qtyChange" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cv.kdata.model.StockHolderLatest">
    <result column="holder_name" jdbcType="LONGVARCHAR" property="holderName" />
  </resultMap>
  <sql id="Blob_Column_List">
    holder_name
  </sql>
  
  <select id="selectByStockCode" resultMap="BaseResultMap">
	select * from stock_holder_latest where stock_code = #{stockCode}
  </select>
  
  <insert id="insert" parameterType="com.cv.kdata.model.StockHolderLatest">
    insert into stock_holder_latest (stock_code, report_date, holder_type, 
      stock_char, qty, holder_char, 
      stock_ratio, stock_ratio_change, qty_change, 
      holder_name)
    values (#{stockCode,jdbcType=VARCHAR}, #{reportDate,jdbcType=VARCHAR}, #{holderType,jdbcType=VARCHAR}, 
      #{stockChar,jdbcType=VARCHAR}, #{qty,jdbcType=VARCHAR}, #{holderChar,jdbcType=VARCHAR}, 
      #{stockRatio,jdbcType=VARCHAR}, #{stockRatioChange,jdbcType=VARCHAR}, #{qtyChange,jdbcType=VARCHAR}, 
      #{holderName,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cv.kdata.model.StockHolderLatest">
    insert into stock_holder_latest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="reportDate != null">
        report_date,
      </if>
      <if test="holderType != null">
        holder_type,
      </if>
      <if test="stockChar != null">
        stock_char,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="holderChar != null">
        holder_char,
      </if>
      <if test="stockRatio != null">
        stock_ratio,
      </if>
      <if test="stockRatioChange != null">
        stock_ratio_change,
      </if>
      <if test="qtyChange != null">
        qty_change,
      </if>
      <if test="holderName != null">
        holder_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null">
        #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="holderType != null">
        #{holderType,jdbcType=VARCHAR},
      </if>
      <if test="stockChar != null">
        #{stockChar,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=VARCHAR},
      </if>
      <if test="holderChar != null">
        #{holderChar,jdbcType=VARCHAR},
      </if>
      <if test="stockRatio != null">
        #{stockRatio,jdbcType=VARCHAR},
      </if>
      <if test="stockRatioChange != null">
        #{stockRatioChange,jdbcType=VARCHAR},
      </if>
      <if test="qtyChange != null">
        #{qtyChange,jdbcType=VARCHAR},
      </if>
      <if test="holderName != null">
        #{holderName,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>