
div{
    color:#a3e1d4;
    color:#1ab394;
    color: #dedede;
    color: #b5b8cf;
    color:rgba(26,179,148,1);
    color:rgba(220,220,220,1);
    color:rgba(151,187,205,1);
    color: #16987e;
    color: #1c84c6;
    color: #23c6c8;
    color: #f8ac59;
    color: #ed5565;
color:#ef3d49;
    border-color: #f7a54a;
    border-color: #ec4758;
    border-color: #b3b3b3;

    color: #999999;
color:#1eacae;
color:#f79d3c;

color:#1872ab;

    background-color: #d1dade;
    color: #5e5e5e;
    background-color: #ed5565;
    background-color: #262626;

     background-color: #2A2E36;
    color: #8B91A0;
color:#ea394c;

}
