
div{
    color:#a3e1d4;
    color:#1ab394;
    color: #dedede;
    color: #b5b8cf;
    color:rgba(26,179,148,1);
    color:rgba(220,220,220,1);
    color:rgba(151,187,205,1);
    color: #16987e;
    color: #1c84c6;
    color: #23c6c8;
    color: #f8ac59;
    color: #ed5565;
color:#ef3d49;
    border-color: #f7a54a;
    border-color: #ec4758;
    border-color: #b3b3b3;

    color: #999999;
color:#1eacae;
color:#f79d3c;

color:#1872ab;

    background-color: #d1dade;
    color: #5e5e5e;
    background-color: #ed5565;
    background-color: #262626;

     background-color: #2A2E36;
    color: #8B91A0;
color:#ea394c;

}
.colors-rgba{
    color:rgba(255,165,0,0.6);
    color:rgba(33,33,33,0.5);
    color:rgba(150,150,150,0.3);
    color:rgba(255,255,0,0.5);
    color:rgba(30, 144, 255, 0.6);
    color:rgba(50,50,50,0.5);
    color:rgba(182,162,222,0.2);
    color:rgba(128, 128, 128, 0.5);
    color:rgba(181,195,52,0.2);
    color:rgba(144,197,237,0.2);
    color:rgba(70,130,180,0.8);

}
.colors-list{
    color:#000;
    color:#000000;
    color:#000080;
    color:#00008b;
    color:#0000cd;
    color:#006400;
    color:#008000;
    color:#008080;
    color:#0088aa;
    color:#008b8b;
    color:#00aa00;
    color:#00bfff;
    color:#00ced1;
    color:#00f;
    color:#00fa9a;
    color:#00ff7f;
    color:#00FFFF;
    color:#07a2a4;
    color:#0f0;
    color:#0ff;
    color:#191970;
    color:#1e90ff;
    color:#20b2aa;
    color:#228b22;
    color:#22bb22;
    color:#26C0C0;
    color:#27727B;
    color:#2e8b57;
    color:#2ec7c9;
    color:#2f4f4f;
    color:#32cd32;
    color:#3cb371;
    color:#40e0d0;
    color:#4169e1;
    color:#4682b4;
    color:#483d8b;
    color:#48d1cc;
    color:#4b0082;
    color:#556b2f;
    color:#588dd5;
    color:#59678c;
    color:#5ab1ef;
    color:#5f9ea0;
    color:#60C0DD;
    color:#6495ed;
    color:#66cdaa;
    color:#696969;
    color:#6a5acd;
    color:#6b8e23;
    color:#6f5553;
    color:#708090;
    color:#772e00;
    color:#777700;
    color:#778899;
    color:#778fff;
    color:#77c7ff;
    color:#77e3ff;
    color:#789;
    color:#7b68ee;
    color:#7cfc00;
    color:#7eb00a;
    color:#7fff00;
    color:#7fffd4;
    color:#800000;
    color:#800080;
    color:#808000;
    color:#808080;
    color:#83dd00;
    color:#8400dd;
    color:#87ceeb;
    color:#87cefa;
    color:#8a2be2;
    color:#8b0000;
    color:#8b008b;
    color:#8b4513;
    color:#8d98b3;
    color:#8fbc8f;
    color:#90ee90;
    color:#9370d8;
    color:#9370DB;
    color:#9400d3;
    color:#95706d;
    color:#97b552;
    color:#98fb98;
    color:#9932cc;
    color:#9a7fd1;
    color:#9acd32;
    color:#9BCA63;
    color:#a0522d;
    color:#a52a2a;
    color:#a9a9a9;
    color:#aa0088;
    color:#aa8800;
    color:#ad77ff;
    color:#add8e6;
    color:#adff2f;
    color:#afeeee;
    color:#b0c4de;
    color:#b0dd00;
    color:#b0e0e6;
    color:#b22222;
    color:#B5C334;
    color:#b6a2de;
    color:#b8860b;
    color:#ba55d3;
    color:#bbbbff;
    color:#bbe3ff;
    color:#bc8f8f;
    color:#bdb76b;
    color:#c05050;
    color:#c0c0c0;
    color:#C1232B;
    color:#c14089;
    color:#C6E579;
    color:#c71585;
    color:#c877ff;
    color:#c9ab00;
    color:#cd5c5c;
    color:#cd853f;
    color:#d2691e;
    color:#d2b48c;
    color:#d3d3d3;
    color:#d5ffbb;
    color:#D7504B;
    color:#d87093;
    color:#d87a80;
    color:#d8bfd8;
    color:#da70d6;
    color:#daa520;
    color:#DB7093;
    color:#dc143c;
    color:#dc69aa;
    color:#dcdcdc;
    color:#dd0000;
    color:#dd0083;
    color:#dda0dd;
    color:#ddb000;
    color:#dddd00;
    color:#deb887;
    color:#e0ffff;
    color:#e2bbff;
    color:#e5cf0d;
    color:#e6e6fa;
    color:#E87C25;
    color:#e9967a;
    color:#ee82ee;
    color:#eee8aa;
    color:#f00;
    color:#F0805A;
    color:#f08080;
    color:#f0e68c;
    color:#f0f;
    color:#f0f8ff;
    color:#f0fff0;
    color:#f0ffff;
    color:#F3A43B;
    color:#f4a460;
    color:#F4E001;
    color:#f5994e;
    color:#f5deb3;
    color:#f5f5dc;
    color:#f5f5f5;
    color:#f5fffa;
    color:#f8f8ff;
    color:#fa8072;
    color:#FAD860;
    color:#faebd7;
    color:#faf0e6;
    color:#fafad2;
    color:#FCCE10;
    color:#fdf5e6;
    color:#FE8463;
    color:#ff0;
    color:#FF00FF;
    color:#ff1493;
    color:#ff3200;
    color:#ff4500;
    color:#ff6347;
    color:#ff6600;
    color:#ff69b4;
    color:#ff7777;
    color:#ff77ab;
    color:#ff77ff;
    color:#ff7f50;
    color:#ff8c00;
    color:#ff9277;
    color:#ff9900;
    color:#ffa07a;
    color:#ffa500;
    color:#ffb6c1;
    color:#ffb980;
    color:#ffbbe3;
    color:#ffc0cb;
    color:#ffc877;
    color:#ffd700;
    color:#ffdab9;
    color:#ffdead;
    color:#ffe4b5;
    color:#ffe4c4;
    color:#ffe4e1;
    color:#ffebcd;
    color:#ffefd5;
    color:#fff;
    color:#fff0f5;
    color:#fff5ee;
    color:#fff8dc;
    color:#fffacd;
    color:#fffaf0;
    color:#fffafa;
    color:#ffffe0;
    color:#fffff0;
    color:#6699FF;
    color:#ff6666;
    color:#30e0e0;

    color:#dd4119;
    color:#36ae7e;
}

.colors-01{
    color:#C1232B;
    color:#27727B;
    color:#FCCE10;
    color:#E87C25;
    color:#B5C334;
    color:#FE8463;
    color:#9BCA63;
    color:#FAD860;
    color:#F3A43B;
    color:#60C0DD;
    color:#D7504B;
    color:#C6E579;
    color:#F4E001;
    color:#F0805A;
    color:#26C0C0;
}

.color_02{
    color: #1c84c6;
    color:rgba(255,165,0,0.6);
    color:rgba(70,130,180,0.8);
    color:#00fa9a;
    color:#228b22;
    color:#483d8b;
    color:#5ab1ef;
    color:#5f9ea0;
    color:#60C0DD;
    color:#6495ed;
    color:#66cdaa;
    color:#696969;
    color:#6f5553;
    color:#7eb00a;
    color:#7fff00;
    color:#7fffd4;
    color:#ba55d3;
    color:#FAD860;
    color:#60C0DD;
}

