.jvectormap-main-div{
    height:550px;
}
.map-canvas{
    position: absolute;
    /*border:1px solid #f00;*/
}

.map-class{
    position:absolute;
    height:calc(100% - 15px);
    width:calc(100% - 15px);
    background-color:rgba(128,128,128,0.885);
    /*margin-bottom:10px;*/
    /*border:1px solid #0ff;*/
}

.jvectormap-main-div .map-class a{
    font-family:'12px Î¢ÈíÑÅºÚ';
    z-index:99;
    color:#fff;
    text-align:center;
    position:absolute;
}

.labelSelected{
    color:inherit;
}
.labelNotSelected{
    color:#ccc;
}
