html{
    height:100%;
}
body{
    /*height:calc(99% - 15px);*/
    background-color: rgb(38,38,38);
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0;
}

.media{
    height:100%;
}


.test{
    color:#2ec7c9;
    color:#b6a2de;
    color:#5ab1ef;
    color:#ffb980;
    color:#d87a80;
    color:#8d98b3;
    color:#e5cf0d;
    color:#97b552;
    color:#95706d;
    color:#dc69aa;
    color:#07a2a4;
    color:#9a7fd1;
    color:#588dd5;
    color:#f5994e;
    color:#c05050;
    color:#59678c;
    color:#c9ab00;
    color:#7eb00a;
    color:#6f5553;
    color:#c14089;
}