.page-right-wrapper,.page-left-wrapper{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width:1200px){
    .page-left-wrapper{
        height:100%;
        float:left;
        padding-right:5px;
        padding-left:10px;
    }
    .page-right-wrapper{
        height:100%;
        float:left;
        padding-left:5px;
        padding-right:10px;
    }
}


.cusmonitorselection{
    font-size: 14px;
    padding: 2px;
    /*width: 350px;*/
    top: -6px;
    position: relative;
    float:right;
}

.modal-info-container{
    width:230px;
    padding:0px 20px;
}
.modal-changeinfo-container{
    width:540px;
    margin-top:90px;
    padding:10px 20px;
}
.modal-change-close-btn{
    margin-top:-10px;
    margin-right:-20px;
}
.modal-changeinfo-header{
    position:relative;
    /*border-bottom:1px solid #7f7f7f;*/
}
.modal-changeinfo-header h3{
   display:inline-block;
    margin-top:0;
    margin-bottom:2px;
    color:#2fa4e7;
}
.modal-changeinfo-header small{
    position:absolute;
    right:15px;
    top:11px;
}
.change-contant{
    margin-left:10px;
    width:calc(100% - 50px);
    display:initial;
}
.modal-changeinfo-body{
    padding-top:5px;
    overflow: auto;
}
.modal-changeinfo-body .modal-changeinfo-element:first-child{
    border-top:1px solid #ccc;
}
.modal-changeinfo-element{
    display:inline-flex;
    display:-webkit-box;
    padding:5px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.modal-changeinfo-element label{
    color: #333;
    font-size:15px;
    margin-bottom:0px;
}
