#modal_detail_container{
    padding:0px 1px;
    overflow:auto;
    width:75%;
    max-width:800px;
    margin:40px auto 10px auto;
}

.modal-info-close-button{
    margin-right:0px;
    margin-top:-13px;
}
@media (max-width:1439px){
    .td-lg-show{
        display:none;
    }
}
@media (max-width:1300px){
    .td-md-show{
        display:none;
    }
}
.modal-template-list .half-item{
    width:50%;
    float:left;
}






