<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>企业信用报告</title>
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link href="css/common/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/jqDataTables/jquery.dataTables.css" rel="stylesheet">     <link href="css/plugins/jqDataTables/extensions/buttons/buttons.dataTables.css" rel="stylesheet">
    <link href="css/comstyle.css" rel="stylesheet">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/jquery.cookie.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/plugins/jqDataTables/jquery.dataTables.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/dataTables.buttons.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/buttons.print.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/pdfmake.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/vfs_fonts.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/buttons.html5.js"></script>

</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="v-navModel">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <img id="logo-img-bar" hidefocus="true" v-bind:src="logoPath" >
                </li>
                <li v-bind:class="{'active':item.isActive}" v-for="item in menuList" >
                    <a href="#" v-on:click="goto(item.pageurl,id)">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"
                              v-text="item.text"></span>
                        <span class="fa" v-bind:class="{'arrow':item.showChild}"></span></a>
                    <ul class="nav nav-second-level" v-if="item.showChild">
                        <li v-bind:class="{'active':cItem.isActive}" v-for="cItem in item.childMenu"><a
                                v-on:click="goto(cItem.pageurl,id)" v-text="cItem.text"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" id="v-userModel">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i
                            class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right font-14">
                    <!--<li style="margin-right:40px;">-->
                        <!--<input onkeypress="searchBarPress(event,this.value)" type="text" placeholder="请输入查询条件 . . . "-->
                               <!--class="form-control" id="top-search">-->
                    <!--</li>-->
                    <li class="welcome-message">
                        <span class="m-r text-muted f-l">
                            <strong class="font-bold m-r">欢迎你</strong>
                            <span v-text="uname" style="color:green"></span>
                            <strong class="font-bold">，</strong>
                        </span>
                        <span class="text-muted text-xs m-r-lg f-l m-l">
                            <strong class="font-bold">当前积分：</strong>
                            <span v-text="uscore" style="color:orangered"></span>
                            <strong class="font-bold">分</strong>
                        </span>
                    </li>
                    <li>
                        <a onclick="loginOut()"><i class="fa fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="v-companyReportModel">

            <div class="row">
                <!--法务-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>法务</h5>
                            <div class="ibox-tools">
                                <a class="pull-right collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive" style="display:none;" v-show="entLawList|checkEmptyFilter">
                                <table class="table table-striped table-bordered table-hover" id="law_table">
                                    <thead>
                                    <tr>
                                        <th>法院裁判文书案号</th>
                                        <th>法院裁判文书发布日期</th>
                                        <th>法院裁判文书标题</th>
                                        <th>法院裁判文书类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in entLawList">
                                        <td v-text="item.caseNo"></td>
                                        <td v-text="item.date"></td>
                                        <td v-text="item.title"></td>
                                        <td v-text="item.type"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--经营异常-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>经营异常</h5>
                            <div class="ibox-tools">
                                <a class="pull-right collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive"  style="display:none;" v-show="abnormalItemList|checkEmptyFilter">
                                <table class="table table-striped table-bordered table-hover" id="abnormal_table">
                                    <thead>
                                    <tr>
                                        <th>作出决定机关</th>
                                        <th>列入时间</th>
                                        <th>列入原因</th>
                                        <th>移出时间</th>
                                        <th>移出原因</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in abnormalItemList">
                                        <td v-text="item.dept"></td>
                                        <td v-text="item.inDate"></td>
                                        <td v-text="item.inReason"></td>
                                        <td v-text="item.outDate"></td>
                                        <td v-text="item.outReason"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--股权质押-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>股权质押</h5>
                            <div class="ibox-tools">
                                <a class="pull-right collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive"  style="display:none;" v-show="equityList|checkEmptyFilter">
                                <table class="table table-striped table-bordered table-hover" id="equity_table">
                                    <thead>
                                    <tr>
                                        <th>登记日期</th>
                                        <th>登记编号</th>
                                        <th>质权人</th>
                                        <th>出质股权数</th>
                                        <th>出质人证件号码</th>
                                        <th>质权公司</th>
                                        <th>质权人证件号码</th>
                                        <th>股权出质状态</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in equityList">
                                        <td v-text="item.date"></td>
                                        <td v-text="item.number"></td>
                                        <td v-text="item.pdg"></td>
                                        <td v-text="item.pdgAmount"></td>
                                        <td v-text="item.pdgIdentifyNo"></td>
                                        <td v-text="item.pw"></td>
                                        <td v-text="item.pwIdNo"></td>
                                        <td v-text="item.status"></td>
                                        <td v-text="item.remark"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--动产抵押-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>动产抵押</h5>
                            <div class="ibox-tools">
                                <a class="pull-right collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive" style="display:none;" v-show="mortgagesList|checkEmptyFilter">
                                <table class="table table-striped table-bordered table-hover" id="mortgages_table">
                                    <thead>
                                    <tr>
                                        <th>登记日期</th>
                                        <th>登记机关</th>
                                        <th>登记编号</th>
                                        <th>被担保债权种类</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in mortgagesList">
                                        <td v-text="item.date"></td>
                                        <td v-text="item.department"></td>
                                        <td v-text="item.number"></td>
                                        <td v-text="item.type"></td>
                                        <td v-text="item.remarks"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="js/mycommon/common.data.js"></script>
<script src="data/menu/company/menu.company.report.js"></script>
<script src="js/mycommon/function.common.js"></script>
<script src="js/mycommon/menu.common.js"></script>
<script src="js/mycommon/ibox.function.js"></script>

<script src="js/business/company/company.report.js"></script>
</body>
</html>
