<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>企业深度报告</title>
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link href="css/common/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/comstyle.css" rel="stylesheet">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/jquery.cookie.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <script src="js/plugins/echarts2/echarts.js"></script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="v-navModel">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <img id="logo-img-bar" hidefocus="true" v-bind:src="logoPath" style="width: auto;height: 60px;">
                </li>
                <li v-bind:class="{'active':item.isActive}" v-for="item in menuList" >
                    <a href="#" v-on:click="goto(item.pageurl,id)">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"
                              v-text="item.text"></span>
                        <span class="fa" v-bind:class="{'arrow':item.showChild}"></span></a>
                    <ul class="nav nav-second-level" v-if="item.showChild">
                        <li v-bind:class="{'active':cItem.isActive}" v-for="cItem in item.childMenu"><a
                                v-on:click="goto(cItem.pageurl,id)" v-text="cItem.text"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" id="v-userModel">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i
                            class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right font-14">
                    <!--<li style="margin-right:40px;">-->
                        <!--<input onkeypress="searchBarPress(event,this.value)" type="text" placeholder="请输入查询条件 . . . "-->
                               <!--class="form-control" id="top-search">-->
                    <!--</li>-->
                    <li class="welcome-message">
                        <span class="m-r text-muted f-l">
                            <strong class="font-bold m-r">欢迎你</strong>
                            <span v-text="uname" style="color:green"></span>
                            <strong class="font-bold">，</strong>
                        </span>
                        <span class="text-muted text-xs m-r-lg f-l m-l">
                            <strong class="font-bold">当前积分：</strong>
                            <span v-text="uscore" style="color:orangered"></span>
                            <strong class="font-bold">分</strong>
                        </span>
                    </li>
                    <li>
                        <a onclick="loginOut()"><i class="fa fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="v-companyDepthModel">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                    <!--投资企业 -->
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>投资企业</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive" style="display:none;" v-show="investCompany|checkEmptyFilter">
                                    <table class="table table-striped table-bordered table-hover" id="invest_table">
                                        <thead>
                                        <tr>
                                            <th>公司名称</th>
                                            <th>企业法人</th>
                                            <th>投资日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in investCompany" style="cursor:pointer" v-on:click="gotoCompany(item.iUuid)">
                                            <td v-text="item.name"></td>
                                            <td v-text="item.legal"></td>
                                            <td v-text="item.sDate"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 分支机构 -->
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>分支机构</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive" style="display:none;" v-show="branchs|checkEmptyFilter">
                                    <table class="table table-striped table-bordered table-hover" id="branch_table">
                                        <thead>
                                        <tr>
                                            <th>分支企业名称</th>
                                            <th>法人代表</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in branchs" style="cursor:pointer" v-on:click="gotoCompany(item.bUuid)">
                                            <td v-text="item.bName"></td>
                                            <td v-text="item.bLegal"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <!--软件著作权-->
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>软件著作权</h5>
                                    <div class="ibox-tools">
                                        <a class="pull-right collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive" style="display:none;" v-show="softCopyrightsList|checkEmptyFilter">
                                        <table class="table table-striped table-bordered table-hover" id="softCopy_table">
                                            <thead>
                                            <tr>
                                                <th>登记批准日期</th>
                                                <th>软件著作权名称</th>
                                                <th>软件著作权登记号</th>
                                                <th>软件简称</th>
                                                <th>版本号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in softCopyrightsList">
                                                <td v-text="item.appDate"></td>
                                                <td v-text="item.name"></td>
                                                <td v-text="item.number"></td>
                                                <td v-text="item.shortName"></td>
                                                <td v-text="item.version"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--专利-->
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>专利<span style="font-weight:normal;font-size:12px;">(仅显示最近十条)</span></h5>

                                    <div class="ibox-tools">
                                        <a class="pull-right collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive"  style="display:none;" v-show="patentList|checkEmptyFilter">
                                        <table class="table table-striped table-bordered table-hover" id="patent_table">
                                            <thead>
                                            <tr>
                                                <th class="td-W75">授权公告日</th>
                                                <th>摘要</th>
                                                <th style="width:20%">名称</th>
                                                <th class="td-W75">申请日</th>
                                                <th class="td-W75">申请号</th>
                                                <th>授权公告号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in patentList">
                                                <td class="td-W75" v-text="item.outhorDate"></td>
                                                <td v-text="item.brief|getShortStrFilter"></td>
                                                <td style="width:20%" v-text="item.patentName"></td>
                                                <td class="td-W75" v-text="item.requestDate"></td>
                                                <td class="td-W75" v-text="item.requestNum"></td>
                                                <td v-text="item.typeName"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- 评分体系 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>评分体系</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="flot-chart" style="height:400px;">
                                        <div class="flot-chart-content" id="scoreSystem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关联预测 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>关联预测</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="relation_table">
                                            <thead>
                                            <tr>
                                                <th>关联公司名称</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in perRelation" style="cursor:pointer" v-on:click="gotoCompany(item.entId)">
                                                <td v-text="item.entName"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="data/menu/company/menu.company.depth.js"></script>
<script src="data/charts/entDepth.chartOption.js"></script>
<script src="js/mycommon/function.common.js"></script>
<script src="js/mycommon/common.data.js"></script>
<script src="js/mycommon/menu.common.js"></script>
<script src="js/mycommon/ibox.function.js"></script>

<script src="js/business/company/company.depth.chart.js"></script>
<script src="js/business/company/company.depth.js"></script>
</body>
</html>
