<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>企业基本信息</title>
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link href="css/common/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/jqDataTables/jquery.dataTables.css" rel="stylesheet">     <link href="css/plugins/jqDataTables/extensions/buttons/buttons.dataTables.css" rel="stylesheet">
<!--<link href="css/plugins/jqDataTables/jquery.dataTables.css" rel="stylesheet">-->
    <!--<link href="css/plugins/jqDataTables/extensions/buttons/buttons.dataTables.css">-->
    <link href="css/comstyle.css" rel="stylesheet">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/jquery.cookie.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/jqDataTables/jquery.dataTables.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/dataTables.buttons.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/buttons.print.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/pdfmake.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/vfs_fonts.js"></script>     <script src="js/plugins/jqDataTables/extensions/buttons/buttons.html5.js"></script>
<!--<script src="js/plugins/jqDataTables/jquery.dataTables.js"></script>-->
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="v-navModel">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <img id="logo-img-bar" hidefocus="true" v-bind:src="logoPath" style="width: auto;height: 60px;">
                </li>
                <li v-bind:class="{'active':item.isActive}" v-for="item in menuList" >
                    <a href="#" v-on:click="goto(item.pageurl,id)">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"
                              v-text="item.text"></span>
                        <span class="fa" v-bind:class="{'arrow':item.showChild}"></span></a>
                    <ul class="nav nav-second-level" v-if="item.showChild">
                        <li v-bind:class="{'active':cItem.isActive}" v-for="cItem in item.childMenu"><a
                                v-on:click="goto(cItem.pageurl,id)" v-text="cItem.text"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" id="v-userModel">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i
                            class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right font-14">
                    <!--<li style="margin-right:40px;">-->
                        <!--<input onkeypress="searchBarPress(event,this.value)" type="text" placeholder="请输入查询条件 . . . "-->
                               <!--class="form-control" id="top-search">-->
                    <!--</li>-->
                    <li class="welcome-message">
                        <span class="m-r text-muted f-l">
                            <strong class="font-bold m-r">欢迎你</strong>
                            <span v-text="uname" style="color:green"></span>
                            <strong class="font-bold">，</strong>
                        </span>
                        <span class="text-muted text-xs m-r-lg f-l m-l">
                            <strong class="font-bold">当前积分：</strong>
                            <span v-text="uscore" style="color:orangered"></span>
                            <strong class="font-bold">分</strong>
                        </span>
                    </li>
                    <li>
                        <a onclick="loginOut()"><i class="fa fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="v-companyBasicModel">
            <!--公司名称-->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left m-t" v-text="info.entName"></h1>
					<span class="pull-right m-r" v-if="info.stockCode|checkDefinedFilter" style="margin-top:40px;">
                        <strong>股票代码:</strong>
                        <span style="margin-left:0.8rem;margin-right:1rem;" v-text="info.stockCode"></span>
                    </span>
					<span class="pull-right m-r" style="margin-top:40px;">
					    <strong>所属行业:</strong>
						<span style="margin-left:0.8rem;margin-right:1rem;" v-text="info.pDomain"></span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <!--基本信息-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>基本信息</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <style>
                                	.company-info{}
                                	.company-info > div{line-height: 40px;}
                                	.company-info > div label{font-size: 10px;    font-weight: bold;width: 40%;}
                                	.company-info > div span{width: 60%;}
                                	
                                </style>
                                <div class="ibox-content">
                                    <div class="row company-info">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>统一社会信用代码:</label><span
                                        		v-text="info.creditCode"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>组织机构代码:</label><span
                                        		v-text="info.orgCode"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>注册号:</label><span
                                                v-text="info.regCode"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>经营状态:</label><span
                                                v-text="info.bizStat"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>企业类型:</label><span
                                                v-text="info.econKind"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>法定代表人:</label><span
                                                v-text="info.legalPerson"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>注册资本:</label><span
                                                v-text="info.regCapital"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>单位:</label><span
                                                v-text="info.unit"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>登记机关:</label><span
                                                v-text="info.regAuth"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>发照日期:</label><span
                                                v-text="info.checkDate"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>开业日期:</label><span
                                                v-text="info.startDate"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>注销日期:</label><span
                                                v-text="info.endDate"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>经营开始时间:</label><span
                                                v-text="info.optTimeStart"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>经营结束时间:</label><span
                                                v-text="info.optTimeEnd"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>省份:</label><span
                                                v-text="info.province"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label>城市:</label><span
                                                v-text="info.city"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!--联系我们-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>联系我们</h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding-bottom:1px;">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <tbody>
                                                <tr>
                                                    <td class="td-W120 strong-label">电话:</td>
                                                    <td v-text="info.tel"></td>
                                                    <td class="td-W120 text-center" >邮件:</td>
                                                    <td v-text="info.email"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td-W120 strong-label">注册地址</td>
                                                    <td colspan="3" v-text="info.regAddr"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td-W120 strong-label">经营地址</td>
                                                    <td colspan="3" v-text="info.operAddr"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--经营范围-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>经营范围</h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <p v-text="info.bizArea"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!--变更信息-->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>企业变更</h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive" style="display:none;" v-show="changeList|checkEmptyFilter">
                                        <table class="table table-striped table-bordered table-hover" id="change_table">
                                            <thead>
                                            <tr>
                                                <th class="td-W100">变更时间</th>
                                                <th class="td-W180">项目</th>
                                                <th>变更前</th>
                                                <th>变更后</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in changeList">
                                                <td class="text-center" v-text="item.changeDate"></td>
                                                <td v-text="item.changeItem"></td>
                                                <td v-text="item.beforeContent"></td>
                                                <td v-text="item.afterContent"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  股东 -->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>股东</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive" style="display:none;" v-show="stockHolder|checkEmptyFilter">
                                <table class="table table-striped table-bordered table-hover" id="holder_table">
                                    <thead>
                                    <tr>
                                        <th>股本类型</th>
                                        <th>股东名称</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in stockHolder">
                                        <td v-text="item.stockType"></td>
                                        <td v-text="item.name"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="js/mycommon/common.data.js"></script>
<script src="data/menu/company/menu.company.basic.js"></script>
<script src="js/mycommon/function.common.js"></script>
<script src="js/mycommon/menu.common.js"></script>
<script src="js/mycommon/ibox.function.js"></script>

<script src="js/business/company/company.basic.js"></script>
</body>
</html>
