<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>用户主页</title>
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link href="css/common/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">

    <link href="css/homepage.map.css" rel="stylesheet">
    <link href="css/comstyle.css" rel="stylesheet">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/jquery.cookie.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="js/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="js/plugins/jvectormap/jquery-jvectormap-dijishi.js"></script>

    <script src="js/business/homepage/jvm-china-map.js"></script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="v-navModel">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <img id="logo-img-bar" hidefocus="true" v-bind:src="logoPath" style="width: auto;height: 60px;">
                </li>
                <li v-bind:class="{'active':item.isActive}" v-for="item in menuList" >
                    <a href="#" v-on:click="goto(item.pageurl,id)">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"
                              v-text="item.text"></span>
                        <span class="fa" v-bind:class="{'arrow':item.showChild}"></span></a>
                    <ul class="nav nav-second-level" v-if="item.showChild">
                        <li v-bind:class="{'active':cItem.isActive}" v-for="cItem in item.childMenu"><a
                                v-on:click="goto(cItem.pageurl,id)" v-text="cItem.text"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" id="v-userModel">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i
                            class="fa fa-bars"></i> </a>
                </div>

                <div style="margin-left:30px;font-weight:900;" class="pull-left">
                    <h2 v-text="organizeName" style="margin-top:15px;font-weight:bold"></h2>
                </div>
                <ul class="nav navbar-top-links navbar-right font-14">
                    <li style="margin-right:40px;">
                        <input onkeypress="searchBarPress(event,this.value)" type="text" placeholder="请输入查询条件 . . . "
                               class="form-control" id="top-search">
                    </li>
                    <li class="welcome-message">
                        <span class="m-r text-muted f-l">
                            <strong class="font-bold m-r">欢迎你</strong>
                            <span v-text="uname" style="color:green"></span>
                            <strong class="font-bold">，</strong>
                        </span>
                        <span class="text-muted text-xs m-r-lg f-l m-l">
                            <strong class="font-bold">当前积分：</strong>
                            <span v-text="uscore" style="color:orangered"></span>
                            <strong class="font-bold">分</strong>
                        </span>
                    </li>
                    <li>
                        <a onclick="loginOut()"><i class="fa fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="v-homepageModel">
            <!--统计数据-->
            <div class="row" >
                <!--新闻 & 情报   语料-->
                <div class="col-lg-3 col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Today</span>
                            <h5>新闻 & 情报</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" v-text="statData.media.update|amountFormatFilter"></h1>
                            <div class="stat-percent font-bold text-success">
                                <span class="pull-right" style="font-size:14px;" v-text="statData.media.total|amountFormatFilter"></span>
                                <small class="pull-right m-r" style="font-weight:bold;color:#000;padding-top:1px;">Total</small>
                                <!--<i v-bind:class="['fa',statData.income.isDown? 'fa-level-down':'fa-level-up']"></i>-->
                            </div>
                            <div style="height:14px;"><small ></small></div>
                        </div>
                    </div>
                </div>
                <!--资本事件-->
                <div class="col-lg-3 col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Today</span>
                            <h5>资本事件</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" v-text="statData.event.update|amountFormatFilter"></h1>
                            <div class="stat-percent font-bold text-success">
                                <span class="pull-right"  style="font-size:14px;"  v-text="statData.event.total|amountFormatFilter"></span>
                                <small class="pull-right m-r" style="padding-top:1px;font-weight:bold;color:#000">Total</small><!--<i v-bind:class="['fa',statData.income.isDown? 'fa-level-down':'fa-level-up']"></i>-->
                            </div>
                            <div style="height:14px;"><small ></small></div>
                        </div>
                    </div>
                </div>
                <!--企业信息-->
                <div class="col-lg-3 col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <!--<span class="label label-info pull-right">Annual</span>-->
                            <span class="label label-primary pull-right">Today</span>
                            <h5>企业信息</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" v-text="statData.ent.update|amountFormatFilter"></h1>
                            <div class="stat-percent font-bold text-success">
                                <span class="pull-right"  style="font-size:14px;" v-text="statData.ent.total|amountFormatFilter"></span>
                                <small class="pull-right m-r" style="padding-top:1px;font-weight:bold;color:#000">Total</small><!--<i v-bind:class="['fa',statData.income.isDown? 'fa-level-down':'fa-level-up']"></i>-->
                            </div>
                            <div style="height:14px;"><small ></small></div>
                        </div>
                    </div>
                </div>
                <!--行研报告-->
                <div class="col-lg-3 col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <!--<span class="label label-success pull-right">Monthly</span>-->
                            <span class="label label-primary pull-right">Today</span>
                            <h5>行研报告</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" v-text="statData.report.update|amountFormatFilter"></h1>
                            <div class="stat-percent font-bold text-success" style="margin-bottom:10px;">
                                <span class="pull-right"  style="font-size:14px;"v-text="statData.report.total|amountFormatFilter"></span>
                                <small class="pull-right m-r" style="padding-top:1px;font-weight:bold;color:#000">Total</small><!--<i v-bind:class="['fa',statData.income.isDown? 'fa-level-down':'fa-level-up']"></i>-->
                            </div>
                            <div style="height:14px;"><small ></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8" >
                    <!--新闻地图-->
                    <div class="row"  style="margin-bottom:5px;margin-right:5px;">
                        <div class="col-lg-12">
                            <div id="map-main-div" class="jvectormap-main-div">
                                <div id="locationNews-map" class="map-class">
                                    <a id="newsInfo_0" style="top:48%;right:5px;width:15%;float:right;"></a>
                                    <a id="newsInfo_1" style="top:10%;left:34%;width:30%;"></a>
                                    <a id="newsInfo_2" style="top:2%;left:10px;width:16%;"></a>
                                    <a id="newsInfo_3" style="bottom:7%;left:5px;width:25%;"></a>
                                    <a id="newsInfo_4" style="bottom:2%;left:10%;width:32%;"></a>
                                    <a id="newsInfo_5" style="bottom:2%;right:5px;width:14%;"></a>
                                </div>
                                <canvas id="staticCav" class="map-canvas"></canvas>
                                <canvas id="animatedCav" class="map-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--监控数据-->
                    <div class="row"  v-show="monitorShow" style="display:none;">
                        <div class="col-lg-5">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>监控数据</h5>
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button v-bind:class="[monitorFreq==1?'btn-primary':'btn-white']" type="button" class="btn btn-xs" v-on:click="monitorChange(1)">Daily</button>
                                            <button v-bind:class="[monitorFreq==2?'btn-primary':'btn-white']" type="button" class="btn btn-xs" v-on:click="monitorChange(2)">Weekly</button>
                                            <button v-bind:class="[monitorFreq==3?'btn-primary':'btn-white']" type="button" class="btn btn-xs" v-on:click="monitorChange(3)">Monthly</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row m-r"><div class="col-lg-12">
                                        <div class="flot-chart chart-h160">
                                            <div class="flot-chart-content" id="monitor-chart-1"></div>
                                        </div>
                                    </div> </div>
                                    <div class="row m-r"><div class="col-lg-12">
                                        <div class="flot-chart chart-h160">
                                            <div class="flot-chart-content" id="monitor-chart-2"></div>
                                        </div>
                                    </div> </div>
                                    <div class="row m-r"><div class="col-lg-12">
                                        <div class="flot-chart chart-h160">
                                            <div class="flot-chart-content" id="monitor-chart-3"></div>
                                        </div>
                                    </div> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--推送-->
                    <div class="row" >
                        <!--项目推荐-->
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>项目信息</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content" style="display:none;" v-show="postProject|checkNotEmptyFilter">
                                    <div class="feed-activity-list">
                                        <div class="feed-element" v-for="item in postProject">
                                            <div>
                                                <small class="pull-right text-navy" v-text="item.brand"></small>
                                                <strong v-text="item.entName" style="cursor:pointer;" v-on:click="gotoEntCompany(item.uuid)"
                                                        data-container="body" data-toggle="popover" data-placement="right"
                                                        v-bind:data-content="item.brief"></strong>

                                                <div v-text="item.brief|getShortStrFilter"></div>
                                                <small class="text-muted pull-right" v-text="item.domain"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--推送报告-->
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <h5 class="pull-left link-handle-pointer" style="margin-right:15px;" v-on:click="changeRptSelect(1)" v-bind:class="[currentRptSelect==1?'labelSelected':'labelNotSelected']">研究报告</h5>
                                        <h5 class="pull-left link-handle-pointer" v-on:click="changeRptSelect(2)" v-bind:class="[currentRptSelect==2?'labelSelected':'labelNotSelected']">行业分析</h5>

                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <input v-model="reportFilterKey" type="text" onkeypress="doFilterSearch(event,2)"  placeholder="请输入关键字..." class="search-key-form form-control">
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <!--研究报告 行业分析-->
                                    <div class="feed-activity-list" style="padding-bottom:35px;">
                                        <div class="feed-element" v-for="item in report"  style="display:none;" v-show="report|checkNotEmptyFilter">
                                            <div>
                                                <strong style="cursor:pointer;" v-on:click="openPdfOnline(item.url)" v-text="item.report_name"></strong>
                                                <small class="text-muted pull-right" v-text="item.industry_type"></small>
                                            </div>
                                        </div>
                                        <div style="display:none;" v-show="report|checkEmptyFilter">没有更多报告</div>
                                        <div class="pull-right" style="margin-top:13px;margin-bottom:2px;">
                                            <button style="margin-right:10px;" v-if="pageControlFilter(0,2)" v-on:click="changePage(0,2)">上页</button>
                                            <span v-text="reportPage|currentPageFilter"></span>
                                            <button style="margin-left:10px;" v-if="pageControlFilter(1,2)" v-on:click="changePage(1,2)">下页</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!--推送新闻-->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>推送新闻</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link pull-right">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <div class="pull-right">
                                    <a class="hint hint-bottom m-r" v-bind:data-hint="newsOrder|orderStringFilter" v-on:click="changeOrder()"><i class="fa fa-sort"></i></a>
                                    <input v-model="newsFilterKey" type="text" style="right:50px;" onkeypress="doFilterSearch(event,1)"  placeholder="请输入关键字..." class="search-key-form form-control">
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="feed-activity-list" style="padding-bottom:35px;">
                                <div class="feed-element"v-for="item in homeNews" style="display:none;" v-show="homeNews|checkNotEmptyFilter">
                                    <div>
                                        <small class="pull-right text-navy" v-text="item.channel_name"></small>
                                        <a v-bind:href="item.url" v-on:click="openNews(item.url)" target="_blank"><strong v-text="item.title"></strong></a>
                                        <div v-text="item.content"></div>
                                        <small class="text-muted pull-right" v-text="item.time"></small>
                                    </div>
                                </div>
                                <div style="display:none;" v-show="newsEnd">没有更多新闻</div>
                                <div class="pull-right" style="margin-top:13px;margin-bottom:2px;">
                                    <button style="margin-right:10px;" v-if="pageControlFilter(0,1)" v-on:click="changePage(0,1)">上页</button>
                                    <span v-text="newsPage|currentPageFilter"></span>
                                    <button style="margin-left:10px;" v-if="pageControlFilter(1,1)" v-on:click="changePage(1,1)">下页</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/mycommon/common.data.js"></script>
<script src="data/menu/menu.homepage.js"></script>
<script src="js/mycommon/function.common.js"></script>
<script src="js/mycommon/menu.common.js"></script>
<script src="js/mycommon/ibox.function.js"></script>
<script src="js/business/homepage/homepage.js"></script>
<script src="js/business/homepage/homepage.map.js"></script>

</body>
</html>
