<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>机构基金</title>
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link href="css/common/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/jqDataTables/jquery.dataTables.css" rel="stylesheet">
    <link href="css/plugins/jqDataTables/extensions/buttons/buttons.dataTables.css" rel="stylesheet">
    <link href="css/common/model-mask.css" rel="stylesheet">

    <link href="css/comstyle.css" rel="stylesheet">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/jquery.cookie.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/jqDataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/jqDataTables/extensions/buttons/dataTables.buttons.js"></script>
    <script src="js/plugins/jqDataTables/extensions/buttons/buttons.print.js"></script>
    <script src="js/plugins/jqDataTables/extensions/buttons/pdfmake.js"></script>
    <script src="js/plugins/jqDataTables/extensions/buttons/vfs_fonts.js"></script>
    <script src="js/plugins/jqDataTables/extensions/buttons/buttons.html5.js"></script>
    <script src="js/plugins/echarts2/echarts.js"></script>

</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="v-navModel">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <img id="logo-img-bar" hidefocus="true" v-bind:src="logoPath" style="width: auto;height: 60px;">
                </li>
                <li v-bind:class="{'active':item.isActive}" v-for="item in menuList" >
                    <a href="#" v-on:click="goto(item.pageurl,id)">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"
                              v-text="item.text"></span>
                        <span class="fa" v-bind:class="{'arrow':item.showChild}"></span></a>
                    <ul class="nav nav-second-level" v-if="item.showChild">
                        <li v-bind:class="{'active':cItem.isActive}" v-for="cItem in item.childMenu"><a
                                v-on:click="goto(cItem.pageurl,id)" v-text="cItem.text"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" id="v-userModel">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i
                            class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right font-14">
                    <!--<li style="margin-right:40px;">-->
                        <!--<input onkeypress="searchBarPress(event,this.value)" type="text" placeholder="请输入查询条件 . . . "-->
                               <!--class="form-control" id="top-search">-->
                    <!--</li>-->
                    <li class="welcome-message">
                        <span class="m-r text-muted f-l">
                            <strong class="font-bold m-r">欢迎你</strong>
                            <span v-text="uname" style="color:green"></span>
                            <strong class="font-bold">，</strong>
                        </span>
                        <span class="text-muted text-xs m-r-lg f-l m-l">
                            <strong class="font-bold">当前积分：</strong>
                            <span v-text="uscore" style="color:orangered"></span>
                            <strong class="font-bold">分</strong>
                        </span>
                    </li>
                    <li>
                        <a onclick="loginOut()"><i class="fa fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row" id="v-orgFundModel">
                <div class="col-lg-6">
                    <!--机构基金-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>机构基金信息</h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="fund_table">
                                            <thead>
                                            <tr>
                                                <th>名 称</th>
                                                <th>简介</th>
                                                <th class="td-W95">时 间</th>
                                                <th class="td-W95">最近投资变动时间</th>
                                            </tr>
                                            </thead>
                                            <tbody class="single-row-selected" id="fundList_tbody">
                                            <tr role="row" v-for="ele in fundList">
                                                <td v-text="ele.fundName" style="cursor:pointer" v-on:click="getFundInfo(ele,$event)"></td>
                                                <td v-text="ele.fundDesc|getShortStrFilter"></td>
                                                <td class="td-W95" v-text="ele.investDate|formatDataFilter"></td>
                                                <td class="td-W95" v-text="ele.collectFinishDate|formatDataFilter"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<div class="col-lg-6">
    <!--简介-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>简介</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p v-text="description"></p>
                </div>
            </div>
        </div>
    </div>
    <!--投资-退出关系图谱-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>投资-退出关系图谱</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div style="height:500px;" id="ivs_ext_event_chats"></div>
                </div>
            </div>
        </div>
    </div>
</div>

            </div>

            <div class="row" id="v-fundBasicModel">
                <div class="col-lg-6">
                    <!--投资-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>基金资本--投资事件</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row" id="investTypeSelect" style="z-index:100;left:10%;position:absolute;width:60%;display:none">
                                        <div class="col-xl-2 col-lg-1"></div>
                                        <div class="col-xl-8 col-lg-10">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>请选择类型</h5>
                                                    <div class="ibox-tools">
                                                        <a onclick="closeSelect(1)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div class="row">
                                                        <ul class="todo-list m-t small-list type-check-list">
                                                        <li v-for="item in ivsTypeSelections" v-bind:class="[item.isAll?'hole-line-li':'half-line-li']">
                                                            <a class="check-link"><i class="fa fa-check-square" v-bind:id="item.value|ivsTypeSelectFilter"></i> </a>
                                                            <span class="m-l-xs" v-text="item.text"  v-bind:value="item.value" v-bind:class="{'select-all-itemsList':item.isAll}"></span>
                                                        </li>
                                                        <li>
                                                            <div class="pull-right">
                                                                <button onclick="doTypeSelect(1)">确定</button>
                                                                <button onclick="closeSelect(1)">取消</button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-1"></div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="invest_table" >
                                            <thead>
                                            <tr>
                                                <th>类型分类<i style="position:relative;float:right" class="fa fa-filter" onclick="showTypeFilter(1)"></i></th>
                                                <th>标题</th>
                                                <th>公司</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="cursor:pointer" v-on:click="showCapDetail(ele.eventId,1)" v-for="ele in ivsCapitalList">
                                                <td v-text="ele.investType"></td>
                                                <td v-text="ele.eventTitle"></td>
                                                <td v-text="ele.entCnName"></td>
                                                <td v-text="ele.happenDate|formatDataFilter"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="pull-right">
                                            <button style="margin-right:10px;" v-if="pageCaptialFilter(1,0)" v-on:click="changeDataPage(1,0)">上页</button>
                                            <span v-text="ivsPage|currentPageFilter"></span>
                                            <button style="margin-left:10px;" v-if="pageCaptialFilter(1,1)" v-on:click="changeDataPage(1,1)">下页</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="col-lg-6">
                    <!--退出-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>基金资本--退出事件</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row" id="exitTypeSelect" style="z-index:100;left:10%;position:absolute;width:60%;display:none">
                                        <div class="col-xl-2 col-lg-1"></div>
                                        <div class="col-xl-8 col-lg-10">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>请选择类型</h5>
                                                    <div class="ibox-tools">
                                                        <a onclick="closeSelect(2)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div class="row">
                                                    <ul class="todo-list m-t small-list type-check-list">
                                                        <li v-for="item in extTypeSelections" v-bind:class="[item.isAll?'hole-line-li':'half-line-li']">
                                                            <a class="check-link"><i class="fa fa-check-square" v-bind:id="item.value|extTypeSelectFilter"></i> </a>
                                                            <span class="m-l-xs" v-text="item.text"  v-bind:value="item.value" v-bind:class="{'select-all-itemsList':item.isAll}"></span>
                                                        </li>
                                                        <li>
                                                            <div class="pull-right">
                                                                <button onclick="doTypeSelect(2)">确定</button>
                                                                <button onclick="closeSelect(2)">取消</button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-1"></div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="exit_table" >
                                            <thead>
                                            <tr>
                                                <th>类型分类<i style="position:relative;float:right" class="fa fa-filter" onclick="showTypeFilter(2)"></i></th>
                                                <th>标题</th>
                                                <th>公司</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="cursor:pointer" v-on:click="showCapDetail(ele.eventId,2)" v-for="ele in extCapitalList">
                                                <td v-text="ele.exitType"></td>
                                                <td v-text="ele.eventTitle"></td>
                                                <td v-text="ele.entCnName"></td>
                                                <td v-text="ele.happenDate|formatDataFilter"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div class="pull-right">
                                            <button style="margin-right:10px;" v-if="pageCaptialFilter(2,0)" v-on:click="changeDataPage(2,0)">上页</button>
                                            <span v-text="extPage|currentPageFilter"></span>
                                            <button style="margin-left:10px;" v-if="pageCaptialFilter(2,1)" v-on:click="changeDataPage(2,1)">下页</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--信息提示框*******************info-->
<script type="x/template" id="modal-template">
    <div class="modal-template-mask ibox" v-show="show" transition="modal">
        <div class="modal-template-wrapper">
            <div class="modal-template-container">

                <div class="modal-template-header">
                    <slot name="header">
                        default header
                    </slot>
                </div>

                <div class="modal-template-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="ibox float-e-margins" style="margin-bottom:10px;">
                                        <div class="ibox-title">
                                            <h5>简介</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <slot name="capitalDesc"></slot>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="ibox float-e-margins" style="margin-bottom:10px;">
                                        <div class="ibox-title">
                                            <h5>基本信息</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <ul class="todo-list small-list modal-template-list">
                                                <li><strong>人物 </strong><slot name="person"></slot></li>
                                                <li><strong>基金 </strong><slot name="fund"></slot></li>
                                                <li><strong>时间 </strong><slot name="time"></slot></li>
                                                <li><strong>标的 </strong><slot name="target"></slot></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins" style="margin-bottom:10px;">
                                        <div class="ibox-title">
                                            <slot name="dataTitle"></slot>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row" id="invest_data_row">
                                                <ul class="todo-list small-list modal-template-list">
                                                    <li class="half-item"><strong>投资金额</strong><slot name="amount"></slot></li>
                                                    <li class="half-item"><strong>股权比例</strong><slot name="stockRight"></slot></li>
                                                </ul>
                                            </div>
                                            <div class="row" id="exit_data_row">
                                                <ul class="todo-list small-list modal-template-list">
                                                    <li class="half-item"><strong>投资总金额</strong><slot name="amount"></slot></li>
                                                    <li class="half-item"><strong>退出时持股比例</strong><slot name="stockRight"></slot></li>
                                                    <li class="half-item"><strong>账面IRR</strong><slot name="IRR"></slot></li>
                                                    <li class="half-item"><strong>账面回报率</strong><slot name="returnRate"></slot></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-template-footer">
                    <slot name="footer">
                        <!--default footer-->
                        <button class="modal-template-default-button"
                                @click="show = false">
                            关闭
                        </button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 信息提示框 模态框 -->
<div id="v-model-mask-info">
    <modal_mask :show.sync="showModal">
        <h3 slot="header" v-text="information.eventTitle"></h3>
        <p slot="capitalDesc" v-text="information.eventDesc"></p>
        <span slot="person" v-text="information.person_name"></span>
        <span slot="fund" v-text="information.fundName"></span>
        <span slot="time" v-text="information.happenDate|formatDataFilter"></span>
        <span slot="target" v-text="information.orgCnName"></span>
        <h5 slot="dataTitle" v-text="dataTitle"></h5>

        <span slot="amount" v-text="information.totalInvest"></span>
        <span slot="stockRight" v-text="information.stockRight"></span>
        <span slot="IRR" v-text="information.irr"></span>
        <span slot="returnRate" v-text="information.bringRate"></span>
    </modal_mask>
</div>
<!-- Mainly scripts -->
<script src="js/mycommon/common.data.js"></script>
<script src="data/typeSelected/orgCapital.data.js"></script>
<script src="data/menu/orgnazation/menu.orgnazation.fund.js"></script>
<script src="js/mycommon/function.common.js"></script>
<script src="js/mycommon/menu.common.js"></script>

<script src="data/charts/orgFund.chartOption.js"></script>
<script src="js/mycommon/ibox.function.js"></script>
<script src="js/business/orgnazation/orgnazation.fund.js"></script>
<script src="js/business/orgnazation/orgnazation.fund.info.js"></script>
<script src="js/business/orgnazation/orgnazation.fund.capital.js"></script>

</body>
</html>
