<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新闻首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/logo-ico.png" type="image/png">
    <link rel="stylesheet" href="css/index/bootstrap.min.css">
    <link rel="stylesheet" href="css/index/main.css">
    <script src="js/common/jquery-2.1.1.js"></script>
    <script src="js/plugins/picCarouse/PicCarousel.js"></script>
    <script src="js/common/jquery.jpanelmenu.min.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/common/fastclick.min.js"></script>
    <script src="js/common/modernizr.custom.respondjs.js"></script>
    <script src="js/index/main.js"></script>
    <script src="js/common/vue.js"></script>
    <script src="js/mycommon/function.cookie.js"></script>
    <script src="js/index/function.index.common.js"></script>
</head>
<body>
<div class="center" style="width:80%; margin:0 auto;">
    <main class="container left-container">
        <div class="row" style="margin:0 auto;">
            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content" id="test_category_row">
                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                    <a href="#cate" class="select-categories">Categories</a>
                    <img src="./img/logo-3.jpg" style="width: 110px;height:30px;position:absolute;right:5px;top:10px;">
                </div>
                <div class="home-page-posts animated fadeIn" id="v-indexNewsModel">
                    <article class="post">
                        <div class="post-preview col-xs-10  no-gutter">
                            <a href="http://www.gov.cn/guowuyuan/2016-12/08/content_5145176.htm" target="_blank" style="color:#333337"><h2>中国公安部与美国国土安全部第三次部级会晤举行</h2></a>

                            <p id="pw1" class="pww" style="text-align: right;">2016-12-08 16:58:45</p>

                            <p class="meta">中国公安部与美国国土安全部第三次部级会晤举行 郭声琨和约翰逊共同主持 当地时间12月7日下午，国务委员、公安部部长郭声琨和美国国土安全部部长约翰逊在华盛顿共同主持两部第三次部级会晤。图：张建鑫 当地时间12月7日下午，国务委员、公安部部长郭声琨和美国国土安全部部长约翰逊在华盛顿共同主持两部第三次部级会晤。 郭声琨指出，</p>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-preview col-xs-10  no-gutter">
                            <a href="http://www.networkworld.com/article/3148275/mobile/samsung-still-struggling-with-the-recovery-of-note7-phones-from-users.html" target="_blank" style="color:#333337"><h2>Samsung still struggling with the recovery of Note7 phones from users</h2></a>

                            <p id="pw2" class="pww" style="text-align: right;">2016-12-08 16:43:05</p>

                            <p class="meta">Samsung’s recall of Galaxy Note7 smartphones because of exploding batteries is far from complete with some users, for example, in Canada still not turning in th</p>
                        </div>
                    </article>

                    <article class="post" v-for="item in cateNews">
                        <div class="post-preview col-xs-10  no-gutter">
                            <a href="#" target="_blank" v-bind:href="item.url" style="color:#333337"><h2
                                    v-text="item.title"></h2></a>

                            <p id="pw" class="pww" style="text-align: right;" v-text="item.time"></p>

                            <p class="meta" v-text="item.content">
                                <a href="#" id="pp" class="ppp"></a><i class="link-spacer"></i> <i
                                    class="fa fa-bookmark"></i>
                            </p>
                        </div>
                    </article>
                </div>

                <div class="home-page-categories animated fadeIn hide" id="v-cateMenuModel">
                    <div class="category row">
                        <section>
                            <div class="category-preview col-lm-h col-lg-2 col-md-3 col-sm-3 col-xs-4" v-for="item in menuList">
                                <a v-on:click="gotoCategory(item.id,item.tpcId)">
                                    <img v-bind:src="item.imgUrl" style="cursor:pointer;width:100%;height:100%;" alt="category-image"></a>

                                <div><h2 v-text="item.name"></h2></div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Home page posts -->
            </section>
            <!-- main content -->
            <div class="row_right">
                <section class="sidebar col-md-5 col-sm-12">
                    <div class="site-info" style="color:#39a;right:30px;">
                        <div class="primary-info">
                            <h1 style="color:rgba(205,205,155,1);cursor:pointer">登录</h1>
                        </div>
                    </div>
                </section>
            </div>
            <!-- end sidebar -->
            <!-- end sidebar -->
        </div>
        <!--/row -->
    </main>
    <!-- /container -->
</div>

<!-- 悬浮框 -->
<div class="Bomb-box" style="display:none">
    <div class="bg"></div>
    <div class="Suspension" style="padding-top:15px;width:350px;height:318px;">
        <h2>Welcome to Peseer</h2>
        <p>Login in. To see it in action.</p>
        <div class="Suspension-center">
            <input type="text" style="margin-top:10px;" placeholder="Username" class="input1" id="iptName"><br>
            <input type="password" style="margin-top:10px;" placeholder="password" class="input2" id="iptPwd">

            <div class="input3" id="login-fail" style="display:none"></div>
            <button class="Suspension-btn" style="margin-top:10px;" onclick="login()">登录</button>
            <div class="Suspension-mag" style="margin-top:15px;">
                <div class="forget-pas">忘记密码？请联系客服</div>
            </div>
        </div>
        <div class="banquan">
            <!--版权信息-->
        </div>
    </div>
</div>

<script src="js/index/index.cate.menu.js"></script>
<script src="js/index/index.js"></script>

</body>
</html>
