<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
		<serverId>67</serverId>
		<!-- web db configuration -->
		<webDatabaseDriver>com.mysql.jdbc.Driver</webDatabaseDriver>
		<webDatabaseUrl>jdbc:mysql://192.168.0.66:3306/web_db?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;autoReconnectForPools=true</webDatabaseUrl>
		<webDatabaseUser>root</webDatabaseUser>
		<webDatabasePassword>password</webDatabasePassword>
		<!-- 单位: 毫秒 -->
		<webDatabaseSleepTime>120000</webDatabaseSleepTime>
		<!-- 数据库系统时间 -->
		<webDatabaseSystemTimeQuery>select sysdate() as Systemtime;</webDatabaseSystemTimeQuery>
		
		<!-- spider db configuration -->
		<spiderDatabaseDriver>com.mysql.jdbc.Driver</spiderDatabaseDriver>
		<spiderDatabaseUrl>jdbc:mysql://192.168.0.66:3306/spider?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;autoReconnectForPools=true</spiderDatabaseUrl>
		<spiderDatabaseUser>root</spiderDatabaseUser>
		<spiderDatabasePassword>password</spiderDatabasePassword>
		<!-- 单位: 毫秒 -->
		<spiderDatabaseSleepTime>120000</spiderDatabaseSleepTime>
		<!-- 数据库系统时间 -->
		<spiderDatabaseSystemTimeQuery>select sysdate() as Systemtime;</spiderDatabaseSystemTimeQuery>
		
		<!-- 其他配置 -->
		<!-- Solr微信公众号监控Url -->
		<solrWechatSogouUrl>http://192.168.0.74:8080/solr/wechat_sogou_aticlenode</solrWechatSogouUrl>
		<!-- Solr 投资退出事件Url -->
		<solrInvestExitUrl>http://192.168.0.74:8080/solr/invent_exit_node</solrInvestExitUrl>
		<!-- Solr媒体监控日志URL -->
		<solrMediaMonitorLogUrl>http://192.168.0.74:8080/solr/media_monitor_log_node</solrMediaMonitorLogUrl>
		<!-- Solr返回内容时Content显示最大长度  -->
		<solrContentDisplayLength>160</solrContentDisplayLength>
		<!-- Solr投融资数据搜索返回最大条数  -->
		<solrInvestExitRetCounter>500</solrInvestExitRetCounter>
		<!-- Solr情报搜索返回最大条数  -->
		<solrInformationRetCounter>500</solrInformationRetCounter>
		<!-- 滚动新闻返回的最大条数  -->
		<rollingNewsRetCounter>400</rollingNewsRetCounter>
		<!-- 机构简介显示最大长度 -->
		<orgMaxDispLength>40</orgMaxDispLength>
		<!-- 人物简介显示最大长度 -->
		<peopleMaxDispLength>32</peopleMaxDispLength>
		<!-- Log root folder -->
		<logRootFolder>/home/rdd/workdir/data/tomcat_log</logRootFolder>
		<!-- Search Folder Name  -->
		<searchFolderName>search</searchFolderName>
		<!-- 访问日志目录  -->
		<accessFolderName>access</accessFolderName>
		
		<!-- elasticsearch索引名 -->
		<elasticsearchIndexName>media,mediasql</elasticsearchIndexName>
		<!-- elasticsearch cluster -->
		<elasticsearchCluster>rdd-es-cluster</elasticsearchCluster>
		<!-- elasticsearch 返回数量 -->
		<elasticsearchResultCount>25</elasticsearchResultCount>
		
    </appSettings>
</configuration>