.company-page-row .monitor-add-title{
    font-size:14px;
    margin-top:16px;
    font-weight:600;
    color:#ff9f20;
    cursor:pointer;
    float:left !important;
    margin-left:2px !important;
}
.company-page-row .current-page-title,.company-page-row .normal-page-title{
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    margin-left:10px !important;
}
.company-page-row .current-page-title:hover{
    text-shadow:2px 2px 3px #5e95c7;
}
.company-page-row .normal-page-title:hover{
    text-shadow:2px 2px 3px #cccccc;
}
.current-page-title,.current-tab-title{
    color:#1d9ce5;
}
.normal-page-title,.normal-tab-title{
    color:#acacac;
}
.normal-tab-title,.current-tab-title{
    font-size:14px;
    cursor:pointer;
    float:left !important;
    margin-right:10px !important;
 }
.normal-tab-title:hover,.current-tab-title:hover{
    text-shadow:2px 2px 3px #5e95c7;
}
.btn-tab-shadow{
    transition: all 0.8s ease-in-out;
}
.btn-tab-shadow:hover{
    color:#fff;
    background-color:#286090;
    border-color:#204d74;
    box-shadow: 2px 2px 3px #204d74;
}

.flot-chart{
    display:block;
    height:230px;
}
.flot-chart-content{
    width:100%;
    height:100%;
}
.ibox-chart .ibox-title{
    background:none;
}
.ibox-chart .ibox-title > h5{
    float:right;
    right:10px;
}

.company-info,.about-info{
    height:225px;
    overflow:auto;
}
.company-info > div,.about-info > div{line-height: 22px;}
.company-info > div label{font-size: 10px; font-weight: bold;width: 40%;}
.company-info > div span{width: 60%;}
.about-info > div label{font-size: 10px; font-weight: bold;width: 20%;float:left;}
.about-info > div span{width: 80%;float:left;}
.about-info > div div{width: 80%;float:left;}

@media (min-width:768px) {
    .about-info > div label{font-size: 10px; font-weight: bold;width: 30%;}
    .about-info > div span{width: 70%;}
    .about-info > div div{width: 70%;}
    .about-info > div.hole-line label{font-size: 10px; font-weight: bold;width: 15%;}
    .about-info > div.hole-line span{width: 85%;}
    .about-info > div.hole-line div{width: 85%;}
}
@media (min-width:1024px) {
    .about-info > div label{font-size: 10px; font-weight: bold;width: 20%;}
    .about-info > div span{width: 80%;}
    .about-info > div div{width: 80%;}
    .about-info > div.hole-line label{font-size: 10px; font-weight: bold;width: 10%;}
    .about-info > div.hole-line span{width: 90%;}
    .about-info > div.hole-line div{width: 90%;}
}
@media (min-width:1200px) and (max-width:1350px) {
    .about-info > div label{font-size: 10px; font-weight: bold;width: 28%;}
    .about-info > div span{width: 72%;}
    .about-info > div div{width: 72%;}
    .about-info > div.hole-line label{font-size: 10px; font-weight: bold;width: 14%;}
    .about-info > div.hole-line span{width: 86%;}
    .about-info > div.hole-line div{width: 86%;}
}

.unselectable{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden{
    color:transparent;
}
.tab-info-content .panel-body{
    padding:10px 20px;
}
.flot-chart-right-side{
    margin-right:10px;
}
@media(max-width:1199px){
    .flot-chart-right-side{
        margin-left:10px;
        margin-right:10px;
    }
}
.nav.nav-tabs>li.hide-div{
    display:none;
}



