.modal-setting-container{
    width:390px;
    margin:20px auto;
    padding:1px 20px 10px 20px;
}
.ent-param-div {
    margin-bottom:3px;
    padding-left:0px;
    padding-right:0px;
}
.ent-param-div>label{
    width:60px;
    height:30px;
    text-align:right;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}
.key-param-group input{
    margin:2px auto 6px auto;
}
.ent-param-div .param-input-div{
    width: calc(100% - 80px);
    display: inline-table;
    vertical-align: middle;
    -webkit-margin-before: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0px;
}
.param-input-div .list-range-item:first-child,.param-input-div .list-stock-item:first-child{
    margin-left:0px;
}
.param-input-div .list-range-item:last-child,.param-input-div .list-stock-item:last-child{
    margin-right:0px;
}
.list-range-item,.list-stock-item{
    width:auto;
    height:30px;
    margin-left:10px;
    margin-right:10px;
    list-style: none;
    padding: 5px 3px 2px 3px;
    text-align:center;
    float:left;
    border:none;
    box-shadow:none;
    background-color:transparent;
}

.list-range-item label,.list-stock-item input{
    font-weight:500;
}

.list-range-item.selected{
    color:#fff;
    background-color:#337ab7;
}

.list-stock-item.short-item{
    padding:5px 8px;
}
.key-input-control{
    vertical-align: top;
}

.table .td-W-40{
    min-width:400px;
}
.table .td-W-60{
    min-width:600px;
}

.param-tag-row{
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
.param-label{
    position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
}
.ent-param-tag-label{
    position: relative;
    float: left;
    margin-left:10px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    font-weight:500;
}
.ent-param-tag {
    position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    margin: 0 8px 5px 0;
    padding: 0 20px 0 6px;
    background-color: #fff;
    border: 1px solid #ff9f20;
}
.ent-param-tag em {
    position: absolute;
    width: 20px;
    top: 0;
    right: 0;
    height: 26px;
    background: url(../../img/close.png) center no-repeat;
}



